.allServices__filter{
    width: 396px;
    height: 612px;
    border: 1px solid #aeaeae;
    background-color: #ffffff;
}
.allServices{

    &__specialistsList{
        margin: 0px -26px 0px -26px;
        display: flex;
    }

    &__item{
        padding: 0px 26px 0px 26px;
        
    }
    &__item-wrap{
        
    }
}

.services{
    &-list{}

    &__img{}

    &__title{}
}

.services-list, 