.footer{
	position: relative;
	width: 100%;
	padding-top: 20px;
	.container {
		background-color: #fff; 
	}
	&::after{
		content: '';
		position: absolute;
		bottom: 10%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #87adb6;
		@include breakpoint-down(md){
			display: none;
		}
	}
}
.web-footer {
	background: white;
	// clip-path: polygon(0 31%, 100% 0%, 100% 100%, 0 100%);
	clip-path: polygon(0 31%, 100% 0%, 100% 100%, 0 100%);	
    position: relative;
    top: 0;
    left: 0;
    padding-top: 72px;
	@include breakpoint-down(md){
		display: none;
	}
}
.footer_mob{
	display: none;
	box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.27);
	@include breakpoint-down(md){
		display: flex;
	}
}
.footer_mob{
	width: 100%;
	background-color: white;
	// border: 1px solid red;
	// padding-top: 19px;
	&__left{
		// width: 40%;
		justify-content: center;
		align-items: center;
		border-bottom: 12px solid transparent;
		width: 50%;
		padding:15px 0 10px 0;
		&:hover{
			border-bottom: 12px solid  #396579;
			transition: border-bottom .5s ease-in-out;
			cursor: pointer;
			width: 50%;
		}
		&:hover .icon-layers_footer{
			color:#396579;
			cursor: pointer;
			font-size: 20px;
			padding-top: 3px;
		}
		&:hover .footer_menu{
			color:#396579;
		}
	}
	// .circle_search{
	// 	border-radius: 50%;
	// 	box-shadow: 0 0 27px rgba(247, 255, 106, 0.72);
	// 	background-color: #cad331;
	// 	position: relative;
	// 	height: 50px;
    // 	width: 50px;
	// 	top: -29px;
	// 	left: -4px;
	// 	display: flex;
    // 	justify-content: center;
	// 	&::before{
	// 		content: '';
	// 		position: absolute;
	// 		width: 50%;
	// 		top: 50px;
	// 		height: 100%;
	// 		transform: translateY(-38px);
	// 		background-repeat: no-repeat;
	// 		background-size: contain;
	// 		background-image: url('../images/svg-src/lense_footer-ico.svg');
	// 	}
	// }
	&__right{
		// width: 40%;
		justify-content: center;
		align-items: center;
		border-bottom: 12px solid transparent;
		width: 50%;
		padding:15px 0 10px 0;
		&:hover{
			border-bottom: 12px solid  #396579;
			transition: border-bottom .5s ease-in-out;
			width: 50%;
			cursor: pointer;
		}
		&:hover .icon-lense_footer-ico{
			color:#396579;
			font-size: 20px;
			padding-top: 3px;
		}
		&:hover .footer_menu{
			color:#396579;
			cursor: pointer;
		}
	}
}
.footer_menu{
	color: #92abb4;
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	margin: 0;
}
.icon-layers_footer{
	color: #92abb4;
	padding-right: 4px;
	font-size: 20px;
	cursor: pointer;
	padding-top: 3px;
}
.icon-layers_ico{
	color: #92abb4;
	padding-right: 4px;
	font-size: 20px;
	padding-top: 3px;
}
// .footer_red{
// 	@extend .footer;
// 	background-color:green;
// }
	footer::before{
		display: block;
		position: absolute;
		content: '';
		background-color: #00657b;
		// top: -17px;
		top:-33px;
		left: 0;
		min-width: 100%;
		// height: 82px;
		height: 210px;
		// clip-path:polygon(100% 44%, 100% 19%, 89% 26%, -18% 100%);
		clip-path: polygon(0 56%, 100% 14%, 100% 24%, 0 61%);
		@include breakpoint-down(md){
			display: none;
		}
	}
.center{
	// padding: 40px 0;
	padding: 136px 0 48px 0;
}
.logo_footer{
	&__a{
	color: #c8d400;
	font-family: "ColoProBlack";
	font-size: 30px;
	font-weight: 400;
	}
}
.blue{
	position: absolute;
    content: '';
	background-color: #00657b;
    top: -83px;
    left: 0;
    width: 1920px;
	height: 82px;
	clip-path: polygon(100% 40%, 100% 0%, 80% 20%, -50% 90%);
	
}
// clip-path: polygon(100% 40%, 100% 0%, 80% 20%, -50% 90%);
.contacts{
	width: 144px;
	margin-left: 47px;
	a{
		color: #000000;
		font-family: "PSemiBold";
		font-size: 16px;
		font-weight: 400;
	}
	p{
		color: #c0c56b;
		font-family: "PSemiBold";
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 0;
	}
}
.schedulle{
	width: 185px;
	margin-left: 40px;
	p{
		margin-bottom: 0;
		color: #c0c56b;
		font-family:"PSemiBold";
		font-size: 16px;
		font-weight: 400;
	}
	span{
		color: black;
	}
}
.space_between{
	justify-content: space-between;
}
.services-item {
	width: 100%;
    z-index: 12;
	position: fixed;
	top:0;
}
.services_items-mob {
	width: 100%;
	display: none;
	flex-direction: column;
	background-color: #fff;
	height: 100%;
    z-index: 12;
	padding-top: 80px;
	position: fixed;
	overflow: scroll;
	padding-bottom: 80px;
	.menu__close {
		text-align: right;
		// padding: 12px 7px;
		padding-bottom: 50px;
		width: 95%;
    	margin: 0 auto;
		&_btn {
			font-family: "PBold";
			font-size: 15px;
			@include fluidFontSize(12px,15px,320px,768px);
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			// letter-spacing: 0.075em;
			color: #cad331;
			svg {
				// width: 75px;
				width: 50px;
				margin-right: 8px;
				height: 10px;
			}
		}
	}
	.low-item {
		border-top: 1px solid #acacac;
		width: 95%;
		margin: 0 auto;
		&:last-child{
			border-bottom: 1px solid #acacac;
		}
		&_search {
			// border-bottom: 1px solid #acacac;
			padding: 10px 6px;
			&_list {
				list-style-type: none;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0;
				margin: 0;
				&_active {
					.low-item_search_arrow {
						transform: scale(1, -1);
						svg #arrow {
							fill:#cad331;
						}
					}
					.low-item_search_img {
						img {
							filter: invert(47%) sepia(30%) saturate(193%) hue-rotate(150deg) brightness(89%) contrast(85%);
						}
					}
				}
				.title {
					// width: 240px;
					width: 100%;

					margin: 0;
					text-align: left;
					color: #000;
					font-family: "PSemiBold";
					font-size: 18px;
					padding-right: .875rem;
					font-weight: 400;
				}
			}
			&_img {
				margin-right: 20px;
				img {
					width: 35px;
					height: 35px;
					object-fit: contain;
				}
			}
			&_arrow {
				svg {
					height: 28px;//22px
					@include fluidHeight(22px,28px,320px,768px);
					width: 28px;
					@include fluidWidth(22px,28px,320px,768px);
					// margin-top: 5px;
					float: right;
				}
			}
			&_menu {
				display: none;
				list-style-type: none;
				margin: 20px 17px;///4PX 0
				@include fluidMarginTop(4px,20px,320px,768px);
				padding-left: 41px;//33PX
				@include fluidPaddingLeft(33px,41px,320px,768px);
				&_item {
					font-family: "PRegular";
					font-size: 21px;
					@include fluidFontSize(13px,21px,320px,768px);
					line-height: 1.2;
					font-weight: 400;
					color: #000000;
					padding:10px 5px;
					@include fluidPaddingTop(6px,10px,320px,768px);
					@include fluidPaddingBottom(6px,10px,320px,768px);
				}
				&_active {
					display: block;
				}
			}
		}
	}
}
// clip-path for blue line on footer
// clip-path: polygon(0 40%, 100% 2%, 100% 8%, 0 42%);
// which generated by online generator


.icon-lense_footer-ico{
	color: rgb(146, 171, 180);
    padding-right: 0.25rem;
    font-size: 1.25rem;
    padding-top: 0.1875rem;
}