.header {
  // background-image: url(../images/samples/header_fon_new.jpg);
  // height: 76px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 999;
  background-color: white;
  
  &__buttons {
    .btn {
      &:not(:last-child) {
        margin-right: 10px;
        @include breakpoint-down(md){
          margin-right: 5px;
        }
      }
      
      &:hover {
        background-color: #c8d400;
      }
    }
    
    @include breakpoint-down(md) {
      .header_btn_web {
        display: none;
      }
      .header_btn_mob {
        display: flex;
      }
    }
    
  }
  
}

// @include breakpoint-down(md){
// 	.header{
// 		minwidth: 992px;
// 	}

// }
.header_btn_mob {
  display: none;
  align-items: center;
  width: 175px;
  
  .icon-account {
    color: #cad331;
    font-size: 20px;
    margin-right: 7px;
  }
  
  a {
    color: #cad331;
    font-family: "PBold";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.65px;
  }
  
  .circle {
    background-color: #cad331;
    width: 33.5px;
    height: 33.5px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      text-align: center;
      width: 10px;
      height: 21px;
      background-image: url('../images/svg-src/i_on_circle_mob.svg');
      background-repeat: no-repeat;
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
  
  
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 1%, 0 10%);
  background-color: #00657b;
  bottom: -200px;
  left: 0;
  right: 0;
}

.white-block-header {
  background-color: white;
  height: 56px;
}

.header_information {
  padding: 14px 0;
  align-items: center;
}

.logo {
  color: #333333;
  font-family: "PExtraBold";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  @include breakpoint-down(md){
    font-size: 16px;
  }
  &:hover {
    color: #333333
  }
}

.flex {
  display: flex;
}
