@include breakpoint-down(md){
    .advertizing{
        display: none;
    }
}
@include breakpoint-down(lg) {
    .avatar {
        height: 187px;
    }
    .add_cv_buttons {
        padding-top: 197px !important;
    }
    .first {
        .first__top-title {
            padding: 0px 23px 15px 0px;
        }
    }
}   
@include breakpoint-down(md) {
    // .listining_block_mob {
    //     width: 69%;
    //     .left {
    //         .avatar-image-mob {
    //             width: 200px; 
    //         }
    //     }
    // }
    .mob-search {
        display: none;
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: #fff;
        height: 100%;
        z-index: 12;
        padding-top: 85px;
        position: fixed;
        overflow: scroll;
        top:0;
        left:0;
        .forms {
            padding: 49px 0 0 0;
            .btn-search {
                padding: 50px 0 79px 0;
            }
        }
    }
}
@include breakpoint-down(sm) {
    header.header {
        height: 50px;
        // .logo {
        //     font-size: 14px;
        // }
        .header_btn_mob {
            a {
                font-size: 14px;
            }
        }
        .header_btn_mob {
            .icon-account {
                font-size: 19px;
            }
            .circle {
                width: 30px;
                height: 30px; 
            }
        } 
    }
    .topTitle {
        padding-top: 97px;
    }
    div.wrapper-in {
        overflow: hidden;
        div.images_back {
            div.stamp {
                top: 141px;
                left: 4.5rem;
                height: 75px;
                width: 55px;
                img {
                    width: 71px;
                }
            }
            div.leaf3 {
                height: 20px;
                width: 20px;
                z-index: -1;
                // right: 41px;
                right: 25px;
                // top: 124px;
                top: 140px;
                img {
                    width: 35px;
                }
            }
            div.leaf4 {
                top: 190px;
                left: 5.625rem;
                img {
                    width: 71px;
                }
            }
            div.leaf9 {
                top: 76px;
                left: 0rem;
                width: 60px;
                height: 32px;
                img {
                    width: 66px;
                }
            }
            div.cup {
                top: 59px;
                right: -20px;
                width: 84px;
                height: 84px;
                img {
                    width: 6.125rem;
                }
            }
            
            .top-title2 {
                margin-top: 12.75rem;
            }
            .top-specialists_mob {
                display: block;
                .block {
                    .left {
                        .image_avatar {
                            width: 166%;
                        }
                    }
                    .right {
                        .title {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    margin-bottom: 80px;
                }
                
                button.btn_btnMob {
                    padding: 0.5625rem 1.125rem 0.5625rem 0;
                }
                .icon-mob_arrow_near_button {
                    margin-top: 3px;
                }
            }
            .avatar-image-mob {
                img {
                    height: 87%;
                }
            }
            .swiper-slide {
                margin-bottom: 100px;
            }
        }
        .swiper-wrapper {
            padding-bottom: 11px;
        }
        .arrows_mob {
            .left, .right {
                width: 30%;
            }
        }
        .mob-my_partfolio {
            margin-bottom: 89px;
            margin-top: 50px;
        }
        .table_mob_my_port {
            margin-bottom: 50px;
        }
        .prev-big_block {
            width: 25.36px;
            img {
                width: 25px;
            }
        }
        .next-big_block {
            width: 25.36px;
            img {
                width: 25px;

            }
        }
        .images-swiper-mob {
            img {
                height: 100%;
            }
        }
        // .title {
        //     &:after {
        //         margin-top: 11px;
        //     }
        // }
        .mob-about {
            .prev-about {
                padding-top: 66px;
            }
            margin-bottom: 77px;
            .swiper-container {
                // margin-top: -42px;
                .swiper-slide {
                    // background-color: #ffffff;
                    .questions_answears {
                        padding: 10px 0;
                        .question {
                            font-size: 12px;
                            min-width: 88px;
                            margin-right: 15px;
                        }
                        .anwear {
                            font-size: 12px;
                        }
                    }
                    .reviews {
                        span {
                            margin-left: 5px;
                        }
                    }
                    /* .btn_btnSmallMob {
                        width: 207px;
                        .icon-mob_arrow_near_button {
                            padding-right: 5px;
                        }
                    } */
                }
            }
        }
        .search_header {
            display: none;
        }
        .download {
            margin-bottom: 100px;
        }
        p.topTitle__p {
            font-size: 1.1rem;
            span {
                font-size: 2.2rem;
            }
        }
    }
    footer.footer {
        bottom: 0;
        position: fixed;
        z-index: 12;
    }
    // .footer_mob {
    //     // padding-top: 5px;
    //     .footer_mob__left {
    //         padding-bottom: 0px;
    //     }
    //     .footer_mob__right {
    //         padding-bottom: 0px;
    //         padding-right: 16px;
    //     }
    // }
    // .buttons {
    //     width: 100%;
    // }
}
@media (max-width: 380px) {
    .vip_diamond {
        width: 14%;
        img {
            width: 38px;
        }
        p {
            font-size: 30px;
        }
    }/* 
    header.header {
        height: 71px;
    } */
}
// @media (max-width: 360px) {
//     .listining_block_mob {
//         width: 100%;
//         .left {
//             .avatar-image-mob {
//                 width: 145px;
//                 height: 120px;
//             }
//         }
//     }
// }


