.portfolio{
    width: 100%;
    &__left{
        width: 25%;
        padding: 25px 32px;
        @include fluidPaddingLeft(9px,32px,1024px,1625px);
		@include fluidPaddingRight(9px,32px,1024px,1625px);
        border: 1px solid #e5e5e5;
        background-color: #ffffff;
        margin-right: 30px;
        max-height: 542px;
        .left-title{
            color: #929292;
            font-family: "PLight";
            font-size: 40px;
            font-weight: 300;
            padding-bottom: 90px;
        }
        .cv_buttons{
            width: 100%;
            .cv-first{
                width: 100%;
                align-items: center;
                padding-bottom: 13px;
                border-bottom: 1px solid #f7f7f7;
                cursor: pointer;
                margin-bottom: 29px;
                p{
                    color: #010101;
                    font-family: "PLight";
                    font-size: 15px;
                    font-weight: 300;
                    margin: 0;
                }
                .icon-dropdown-arrow{
                    color:#00657b;
                    font-size:10px;
                    // transform: rotateZ(30deg);
                    transform: rotate3d(1, 3, 2, 51deg);
                }
                &:hover p{
                    color: #c8d400;
                }

                &:hover .icon-dropdown-arrow{
                    color: #c8d400;
                    transform: rotate3d(180, 45, 0, 180deg);
                    transition: transform .2s ease-in;
                    margin-right: -3px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            
        }
        .add_cv_buttons{
            width: 100%;
            justify-content: space-between;
            padding-top: 223px;
            .btn-add{
                align-items: center;
                margin-right: 2px;
                .icon-plusik{
                    color: #c8d400;
                    font-size: 12px;
                    margin-right: 8px;
                }
                .icon-lock{
                    color: #c8d400;
                    font-size: 12px;
                    margin-right: 8px;
                }
                color: #34393e;
                font-family: "PSemiBold";
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 0.25px;
                &:last-child{
                    margin-right: 0;
                }
                &:hover {
                    border: 1px solid #c8d400;
                    background-color: #c8d400;
                }
                &:hover i{
                    color: white;
                }
            }
        }
    }
    &__right{
        position: relative;
        width: 70%;
        transform: translateY(-20px);
        .top-title{
            width:30%;
            padding-bottom: 2px;
            justify-content: space-between;
            .top-date{
                color: #5c5c5c;
                font-family: "PRegular";
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.82px;
            }
            .cv_number{
                color: #c8d400;
                font-family: "PExtraBold";
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.82px;
            }
        }
        .about-worker{
            width: 100%;
            .worker-images{
                width: 30%;
                .top-block{
                    width: 100%;
                    background-color: #f2f2f2;
                    position: relative;
                    padding-top: 16px;
                    padding-left: 7px;
                    height: 356px;
                    // @include fluidHeight(260px,356px,10200px,1920px);
                    @include breakpoint-down(lg){
                        height: 212px;
                    }

                    .status{
                        width: 12%;
                        img{
                            width: 23px;
                            height: 24px;
                        }
                        p{
                            color: #000000;
                            font-family: "PRegular";
                            font-size: 20px;
                            font-weight: 400;
                            text-transform: uppercase;
                            writing-mode: vertical-lr;
                            transform: rotate(180deg);
                            margin-top: 7px;
                        }
                    }
                    .image_avatar{
                        width: 86%;
                        position: absolute;
                        border-radius: 30px 0 0 0;
                        border: 1px solid #c0c56b;
                        height: 339px;
                        // @include fluidHeight(227px,339px,1020px,1920px);
                        @include breakpoint-down(lg){
                            height: 179px;
                        }
                        right: 0;
                        bottom: 0;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }
                .images_avatar_bottom{
                    width: 100%;
                    margin-top: 17px;
                    a{
                        &:last-child{
                            margin-left:10px;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        /* max-width: 160px; */
                        /* width: 84%; */
                        max-width: 140px;
                        max-height: 135px;
                        object-fit: cover;
                        /* position: absolute; */
                        left: 0;
                        top: 0;
                    }
                }
            }
            .worker-info{
                width: 70%;
                padding-left: 35px;
                .first_half{
                    padding: 25px 0;
                    border-top: 1px solid #dcdcdc;
                    border-bottom: 1px solid #dcdcdc;
                    .name_button{
                        width: 100%;
                        p{
                            color: #000000;
                            font-family: "PBold";
                            font-size: 30px;
                            font-weight: 700;
                            line-height: 28px;
                            margin: 0;
                        }
                        .icon-change{
                            color: #c8d400;
                            font-size: 15px;
                            margin-right: 15px;

                        }
                        .btn_btnChangeIcon:hover{
                            border: 1px solid #c8d400;
                            background-color: #c8d400;
                        }
                        .btn_btnChangeIcon:hover .icon-change{
                            color: white;
                        }
                    }
                    .questions{
                        width: 100%;
                        padding-top: 40px;
                        @include breakpoint-down(lg) {
                            flex-wrap: wrap;
                        }
                        .first_block{
                            width: 53%;
                            padding-right: 5px;
                            @include breakpoint-down(lg) {
                                width: 100%;
                            }
                           .fhalf{
                                .question{
                                    color: #5c5c5c;
                                    font-family: "PRegular";
                                    font-size: 18px;
                                    font-weight: 400;
                                    letter-spacing: -0.9px;
                                    display: block;
                                    padding-bottom: 49px;
                                    margin-right: 11px;
                                    &:last-child{
                                        padding-bottom: 0;                               }
                                }
                            }
                            .shalf{
                                .answear{
                                    color: #000000;
                                    font-family: "PSemiBold";
                                    font-size: 18px;
                                    font-weight: 400;
                                    letter-spacing: -0.9px;
                                    display: block;
                                    height: 70px;
                                    &:last-child{
                                        padding-bottom: 0;
                                        
                                        height: 20px;
                                    }
                                }
                            }
                        }
                        .second_block{
                            @include breakpoint-down(lg) {
                                width: 100%;
                                margin-top: 50px;
                            }
                            .fhalf{
                                 padding-bottom: 35px;
                                 @include breakpoint-down(lg){
                                    margin-right: 25px;
                                 }
                                 .question{
                                     color: #5c5c5c;
                                     font-family: "PRegular";
                                     font-size: 18px;
                                     font-weight: 400;
                                     letter-spacing: -0.9px;
                                     display: block;
                                     padding-bottom: 49px;
                                     &:last-child{
                                        padding-bottom: 0;
                                        margin-right: 11px;     
                                     }
                                 }
                             }
                             .shalf{
                                 .answear{
                                     color: #000000;
                                     font-family: "PSemiBold";
                                     font-size: 18px;
                                     font-weight: 400;
                                     letter-spacing: -0.9px;
                                     display: block;
                                     height: 70px;
                                     &:last-child{
                                        padding-bottom: 0;
                                        
                                    }
                                 }
                             }
                         }
                    }
                }
                .details_abot_worker{
                    padding-top: 32px;
                    .title{
                        color: #5c5c5c;
                        font-family: "PRegular";
                        font-size: 18px;
                        font-weight: 400;
                        letter-spacing: -0.9px;
                        padding-bottom: 15px;
                    }
                    .info{
                        color: #000000;
                        font-family: "PSemiBold";
                        font-size: 16px;
                        font-weight: 400;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}
.swiper_avatar{
    width: 100%;
    padding-top: 23px;
    border-top: 1px solid  #dcdcdc;
    margin-top: 34px;
    .portfolio_license__block{
        width: 48%;
        .title_arrows{
            width: 100%;
            .title{
                color: #5c5c5c;
                font-family: "PRegular";
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.82px;
            }
            .arrow{
                width: 60px;
                .left{
                    width: 25px;
                    height: 25px;
                    position: relative;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                    background-color: #87adb6;
                    cursor: pointer;
                    margin-right: 3px;
                    .figure_left {
                        display: block;
                        position: absolute;
                        background-color: white;
                        top: 50%;
                        left: 50%;
                        width: 12px;
                        height: 14px;
                        transform: translate(-50%, -50%);
                        clip-path: polygon(100% 0%, 48% 50%, 100% 100%, 50% 100%, 0% 50%, 50% 0%);
                    }
                    &:hover{
                        border: 1px solid #c8d400;
                        background-color: #c8d400;
                    }
                }
                .right{
                    width: 25px;
                    position: relative;
                    left: 0;
                    top: 0;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #87adb6;
                    cursor: pointer;
                    &:hover{
                        border: 1px solid #c8d400;
                        background-color: #c8d400;
                    }
                    .figure_right {
                        display: block;
                        position: absolute;
                        background-color: white;
                        top: 50%;
                        left: 50%;
                        width: 12px;
                        height: 14px;
                        transform: translate(-50%, -50%);
                        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 55% 50%, 0% 0%);
                      }
                }
            }
        }
        // .images {
        //     padding-top: 20px;
        //     justify-content: space-between;
        //     width: 100%;
        //     img {
        //       width: 100%;
        //       height: 117px;
        //     }
        // }
    }
}
.portfolio__right_under{
    width:100%;
    padding-top: 113px;
    .portfolio_license__block{
        width: 100%;
        .images{
            width:100%;
            justify-content: space-between;
            img{
                width: 100%;
            }
        }
    }
}
.web_my_partfolio{
    display: block;
    @include breakpoint-down(md){
        display: none;
    }
}
.mob-my_partfolio{
    display: none;
    @include breakpoint-down(md){
        display: block;
    }
}
.btns_my_port{
    // padding: 100px 0 10px 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-top:10px;
}
.my_cvs_mob{
    display: block;
    // padding-top: 100px;
}
.change_page_mob{
    display: none;
    .title{
        color: #c8d400;
        font-family: "PExtraBold";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.9px;
    }
}
.table{
    margin-bottom:20px;
    &:first-child{
        margin-top: 20px;
    }
}
.table_mob_my_port{
    width: 100%;
    display: none;
    .first_half{
        width: 100%;
        border: 1px solid;
        td{
            border: 1px solid;
            padding: 4px;
        }
    }
}
.thead_td{
    background: #AFB4AF;
    font-size: 14px;
    font-family: 'PBold';
    color: #D7DED9;
    text-align: center;
    border-left: 2px solid #666966;
    text-align:center;
}
.tboby_td{
    font-size: 14px;
    font-family: "PRegular";
    width:64%;
    background-color: white;
}
.end_table{
    background-color: white;
    width: 100%;
}
.t_btn{
    width:100%;
    padding: 4px !important;
    display: flex;
    justify-content: center;
    border-bottom:1px solid #666966 !important;
    border-left: 1px solid #666966 !important;
    border-right:1px solid #666966 !important;
}
.add_cvs_change_pass_mob{
    padding-top: 10px;
    flex-wrap:wrap;
    .icon-plusik{
        color:#c8d400;
        padding-right: 3px;
        &:hover{
            color:white;
        }
    }
    .icon-lock{
        color:#c8d400;
        padding-right: 3px;
        &:hover{
            color:white;
        }
    }
}
.change_page_mob{
    display: none;
    .arrows_mob{
        width: 18%;
        float: right;
        align-items: center;
        .left{
            width: 20px;
            width: 44%;
            position: relative;
            left: 0;
            top: 0;
            height: 20px;
            border-radius: 50%;
            background-color: #87adb6;
            cursor: pointer;
            margin-right: 3px;
            outline: none;
            .figure_left {
                display: block;
                position: absolute;
                background-color: white;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 14px;
                transform: translate(-50%, -50%);
                clip-path: polygon(100% 0%, 48% 50%, 100% 100%, 50% 100%, 0% 50%, 50% 0%);
            }
            &:hover{
                border: 1px solid #c8d400;
                background-color: #c8d400;
            }
        }
        .right{
            width: 44%;
            position: relative;
            left: 0;
            top: 0;
            height: 18px;
            border-radius: 50%;
            background-color: #87adb6;
            cursor: pointer;
            outline: none;
            &:hover{
                border: 1px solid #c8d400;
                background-color: #c8d400;
            }
            .figure_right {
                display: block;
                position: absolute;
                background-color: white;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 14px;
                transform: translate(-50%, -50%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 55% 50%, 0% 0%);
              }
        }
    }
}
.download_image_mob{
    width: 75%;
    background-color: #e8e8e8;
    position: relative;
    height: 154px;
    margin: auto;
    p{
        color: #686868;
        font-family: "PSemiBold";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.7px;
        text-align: center;
        margin: 0;
    }
}
.images_mob_change{
    width:100%;
    padding-top:25px;
    text-align: center;
}
.do_main_img{
    color: #000000;
    font-family: "PSemiBoldItalic";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.6px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    &::before{
        content: "";
        padding: 3px 11px;
        border-radius: 5px;
        border: 1px solid #c8d400;
        background-color: #ffffff;
        margin-right: 10px;
    }
}
.do_main_img:hover::before{
    background-color: #c8d400;
}
.change_img_border{
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}
.mob_inputs_change{
    label{
        color: #5c5c5c;
        font-family: "PRegular";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.9px;
        margin-bottom:5px;
    }
    input[type=text]{
        width: 99%;
        padding:3px;
        border: 1px solid #a2a2a2;
        background-color: #ffffff;
        color: #5c5c5c;
        font-family: "PRegular";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.9px;
        padding:10px;
        height: 45px;
    }
    textarea{
        width: 100%;
        border: 1px solid #a2a2a2;
        background-color: #ffffff;
        color: #5c5c5c;
        font-family: "PRegular";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.9px;
    }
}
.input_mob_slider{
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}
.partfolio_change_mob {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}
.title_small{
    color: #5c5c5c;
    font-family: "PRegular";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.82px;
}
.title_and_arrow_on_part_change{
    padding: 10px 0;
    align-items: center;
}
.button_saveMob{
    align-items: center;
}
.partgolio_change__images_partfolio {
    .img_preview {
        width: 21%;
        height: 154px;
        margin-right: 39px;
        padding-bottom: 5px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}


.cvs_number{
    color:black;
    font-family: "PSemiBold";
    font-size: 14px;
}

[data-template = my_portfolio]{
    .prev-big_block{
        position: unset;
        transform: none;
        width: 24px;
        position: relative;
        left: 0;
        top: 0;
        height: 24px;
        border-radius: 50%;
        background-color: #87adb6;
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: #c8d400;
        }
        span{
            display: block;
            position: absolute;
            background-color: white;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 14px;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            clip-path: polygon(100% 0,48% 50%,100% 100%,50% 100%,0 50%,50% 0);
        }
    }
    .next-big_block{
        position: unset;
        transform: none;
        width: 24px;
        position: relative;
        left: 0;
        top: 0;
        height: 24px;
        border-radius: 50%;
        background-color: #87adb6;
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: #c8d400;
        }
        span{
            display: block;
            position: absolute;
            background-color: white;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 14px;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 55% 50%, 0% 0%);
        }
    }
    .workers__first{
        background-color: white;
        div{
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    .workers_second{
        padding: 27px 20px;
        .reviews_shows{
            width: 100%;
            color: #396579;
            font-family: "PRegular";
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.75px;
            -ms-flex-pack: justify;
            justify-content: space-between;
            span{
                color: #396579;
                font-family: "PSemiBold";
                font-size: 18px;
                font-weight: 400;
                letter-spacing: -0.9px;
                margin-left: 0.1875rem;
            }
        }
    }
}
.mob-swiper_services {
    padding-top:10px;
}

.portfolioSlide{
    overflow: hidden;
    max-width: 134px;
    max-height: 130px;
    padding:2%;
    a{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}