.prompt_words{
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 99;
    border: 1px solid #c0c56b;
    display: none;
    &__info{
        border: 1px solid #c0c56b;
        .title{
            border-bottom: 1px solid #c0c56b;
            padding: 10px;
            font-family: "PLight";
            font-size: 18px;
            font-weight: 400;
        }
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
            li{
                border-bottom: 1px solid #c0c56b;
                padding: 5px 0 5px 50px;
                color: #5c5c5c;
                font-family: "PLight";
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                &:hover{
                    background-color: #f2ff18;
                }
                a{
                    color: #5c5c5c;
                    font-family: "PLight";
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}

.prompt_words.active{
    display: block;
}
