
.input_area__flexed_input .first input[type=time] {
  border: .0625rem solid #a2a2a2;
  background-color: #fff;
  height: 2.8125rem;
  padding: .4375rem;
  font-family: "PRegular";
}

.specialization {
  border: .0625rem solid #a2a2a2;
  background-color: #fff;
  height: 2.8125rem;
  padding: .4375rem;
  width: 100%;
  font-family: PRegular;
}

.checkboxLabel {
  color: #000;
  font-family: "PSemiBold";
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  position: relative;
  /* padding-left: 15%; */
  padding-left: 35px;
  margin-top: 10%;
}
.checkboxLabel:after {
  content: "";
  display: inline-block;
  width: 1.6875rem;
  height: 1.75rem;
  border-radius: .1875rem;
  background-color: #e5e5e5;
  position: absolute;
  /* right: 0; */
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
input[type=radio]:checked+.checkboxLabel:after {
  border: .0625rem solid #c8d400;
  background-color: #fff;
  background-image: url(../images/svg-src/checkmark.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.list_of_specialists.active .section_change {
  height: 250px;
  overflow-y: scroll;
}

.cyties_scroll {
  height: 150px !important;
}

.listings_blocks_buttons {
  z-index: 2;
}


.text_left {
 text-align: left !important;
}
.required_star {  
  color: red;
}