.error_word{
    font-size: 0.8em;
    margin-bottom: 0.3em;
}
.modal-content{
    position: relative;
}
.modal-loader{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: white;
    border-radius: 5px;
    display: none;
}
.modal-loader img{
    width: 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-s{
    max-width: 25rem;
}
.services__items{
    display: block;
    position: relative;
    background-color: black;
    overflow: hidden;
}
.services__items:hover img{
    opacity: 0.4;
    transform: scale3d(1.2, 1.2, 1.2);
}
.services__items:hover .icon-arrow_near_button {
    -ms-transform: translateX(85px);
    transform: translateX(85px);
    transition: transform 2s ease;
}
.services__items img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 0.8;
    transition: all 1s;
    transform: scale3d(1.0, 1.0, 1.0);
}
.services__items{
    position: relative;
    z-index: 1;
}
.services__clicked_block{
    display: none;
}
.services__clicked_block.active{
    display: flex!important;
}
.sub-services .title{
    text-transform: uppercase;
}
.items{
    cursor: pointer;
}
.items_title{
    align-items: center!important;
}
.items .icon-active_arrow{
    transition: all 0.5s;
    transform-origin: center center;
}
.items.active .icon-active_arrow{
    transform: rotate(-180deg) translateY(0.4em);
}
.sub-items a{
    display: block;
}
.sub-items a.active{
    color: #c8d400;
}
.general_information, .reviews_on_services_card{
    margin-bottom: 3em;
}
/* .portfolio_license__block .images img {
    object-fit: scale-down;
} */