<!-- О компании -->
{% set title = "карточка услуг" %}
{% set namespace = "about" %}
{% set page = "about" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="fon-wrapper">
	<div class="fon"></div>
</div>	
<div class="images_back">
	<div class="stamp">
		<img src="images/samples/stamp.png"/>
	</div>
	<div class="leaf3">
		<img src="images/samples/Leaf3.png"/>
	</div>
	<div class="leaf4">
		<img src="images/samples/Leaf4.png"/>
	</div>
	<div class="leaf9">
		<img src="images/samples/Leaf9.png"/>
	</div>
	<div class="cup">
		<img src="images/samples/cup.png"/>
	</div>
</div>

<div class="container-fluid">
	<div class="topTitle mob">
		<p class="topTitle__p"><span>МОИ УСЛУГИ</span> <br>  услуги всего Казахстана</p>
	</div>
	<div class="web-about">
		<div class="topTitle webTitle flex">
			<span>МОИ УСЛУГИ</span> 
			<p class="topTitle__p"> –  услуги всего Казахстана</p>
		</div>
		<div class="menu_card_services flex">
			<div class = "menu_card_services__search-block">
				<input type="text" placeholder="Поиск" name = "search">
			</div>
			<button class = "btn btn_large btn_shadow">Искать</button>
		</div>
		<div class="services_card">
			<div class="services_card__inner">
				<div class="title">Главная страница - Раздел услуг - Карточка услуг</div>
				<div class="profi_services_card flex">
					<div class="profi_services_card_img flex">
						<div class="first flex">
							<div class="first__top-title flex">
								<p class = "upper">profi</p>
								<div class="brief"></div>
							</div>
							<div class="first__avatar">
								<a href="/images/samples/avatar.jpg" class ="gallerryFancy" data-fancybox = "gallery"><img src="/images/samples/avatar.jpg"/></a>
							</div>
						</div>
						<div class="second_card_services">
							<a href="/images/samples/index_home.jpg" data-fancybox = "gallery"><img src="/images/samples/index_home.jpg"/></a>
						
							<a href="/images/samples/avatar.jpg" data-fancybox = "gallery"><img src="/images/samples/avatar.jpg"/></a>
						</div>
					</div>
					<div class="profi_services_card_information">
						<div class="profi_services_card_information__first flex">
							<div class="fhalf">
								<p>Александр Агафонов <br>Александрович</p>
								<p class = "profession">Специализация:  <span>Интернет услуги - Дизайн</span></p>
							</div>
							<div class="shalf" id="shalfNum">
								125000 
							</div>
						</div>
						<div class="profi_services_card_information__second flex">
							<div class="fhalf ">
								<!-- <p>Часы работы:<span>Будни: 9:00 - 18:00 <br> Выходные: 14:00 - 21:00</span></p> -->
								<div class="fhalf__question flex">
									<span class = "question">Часы работы:</span>
									<span class = "answear">Будни: 9:00 - 18:00 <br> Выходные: 14:00 - 21:00</span>
								</div>
								<div class="fhalf__question flex">
									<span class = "question">Город:</span>
									<span class = "answear">Алматы</span>
								</div>
								<div class="fhalf__question flex">
									<span class = "question">Сайт:</span>
									<a href = "#" class = "answear">Proff.kz</a>
								</div>
							</div>
							<div class="shalf">
								<div class="shalf__question flex">
									<span class = "question">Паспорт:</span>
									<span class = "answear">08978567673</span>
								</div>
								<div class="shalf__question flex">
									<span class = "question">Просмотр:</span>
									<span class = "answear">824</span>
								</div>
								<div class="shalf__question flex">
									<span class = "question">Отзывы:</span>
									<a href = "#" class = "answear">824</a>
								</div>
							</div>
						</div>
						<div class="profi_services_card_information__theird flex">
							<p>На сайте с 16 сентября 2019 года</p>
							<button class="btn btn_small" data-toggle="modal" data-target="#review_modal" data-backdrop="false">Написать отзыв</button>
							<form action="https://wa.me/77772281337" target="_blank"><button class="btn btn_small"  >Написать в WhatsApp</button></form> 
						</div>
					</div>
				</div>
				<div class="general_information flex">
					<div class="general_information__first">
						<div class="title">Описание:</div>
						<div class="info">
							UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы.
							Более 900 проектов сделано.Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
						</div>
					</div>
					<div class="general_information__first">
						<div class="title">Дополнительная специализация:</div>
						<div class="info">
							Разработка сайта / Дизайн логотипов / 3D дизайн
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio_license flex">
				<div class="swiper_avatar flex justify-content-between">
                    <div class="portfolio_license__block">
                        <div class="title_arrows flex">
                            <div class="title">Портфолио:</div>
                            <div class="arrow flex">
                                <div class="left" id = "left_partfolio">
                                    <span class="figure_left"></span>
                                </div>
                                <div class="right" id = "right_partfolio">
                                    <span class="figure_right"></span>
                                </div>
                            </div>
                        </div>
                        <div class="images swiper-container flex" id = "swiper_part">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                   <a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a> 
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
									<a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
									<a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-2"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_license__block">
                        <div class="title_arrows flex">
                            <div class="title">Лицензии и сертификаты:</div>
                            <div class="arrow flex">
                                <div class="left" id = "left_license">
                                    <span class="figure_left"></span>
                                </div>
                                <div class="right" id = "right_license">
                                    <span class="figure_right"></span>
                                </div>
                            </div>
                        </div>
                        <div class="images swiper-container flex " id = "swiper_license">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-3"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="reviews_on_services_card">
				<div class="reviews_on_services_card__title">Отзывы</div>
				<div class="reviews_on_services_card__blocks flex">
					<div class="review">
						<div class = "name">Владислав Владиславович</div>
						<div class = "data">18 ноября 2019</div>
						<div class="text">
							Glauben oder nicht glauben, 
							Lorem Ipsum ist nicht nur ein zufälliger Text.
							Er hat Wurzeln aus der Lateinischen Literatur von 45 v.
							Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, 
							ein Lateinprofessor des Hampden-Sydney College.
						</div>
					</div>
					<div class="review">
						<div class = "name">Владислав Владиславович</div>
						<div class = "data">18 ноября 2019</div>
						<div class="text">
							Glauben oder nicht glauben, 
							Lorem Ipsum ist nicht nur ein zufälliger Text.
							Er hat Wurzeln aus der Lateinischen Literatur von 45 v.
							Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, 
							ein Lateinprofessor des Hampden-Sydney College.
						</div>
					</div>
					<div class="review">
						<div class = "name">Владислав Владиславович</div>
						<div class = "data">18 ноября 2019</div>
						<div class="text">
							Glauben oder nicht glauben, 
							Lorem Ipsum ist nicht nur ein zufälliger Text.
							Er hat Wurzeln aus der Lateinischen Literatur von 45 v.
							Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, 
							ein Lateinprofessor des Hampden-Sydney College.
						</div>
					</div>
					<div class="review">
						<div class = "name">Владислав Владиславович</div>
						<div class = "data">18 ноября 2019</div>
						<div class="text">
							Glauben oder nicht glauben, 
							Lorem Ipsum ist nicht nur ein zufälliger Text.
							Er hat Wurzeln aus der Lateinischen Literatur von 45 v.
							Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, 
							ein Lateinprofessor des Hampden-Sydney College.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="show_recomendation">
			<div class="show_recomendation__title"> 
				<span>Рекомендуем посмотреть</span>
			</div>
		</div>
		<div class="right_inner flex">
			<div class="about_top_specialists">
				<div class="top-specialists__information vip_border ">
					<div class="first vip">
						<div class="first__top-title flex">
							<p class = "upper">Vip</p>
							<div class="diamonds"></div>
						</div>
						<div class="first__avatar" style="background-image: url('../images/samples/avatar.jpg');">
							<div class="review_col">
								<p>отзывы <span>34</span></p>
							</div>
						</div>
					</div>
					<div class="second flex">
						<div class="dots">
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
						</div>
						<div class="second__information">
							<p class = "second__position">Дизайн интерфейсов приложений</p>
							<p class = "second__name">Александр Агафонов Александрович</p>
							<div class="ability">
								<ul>
									<li>Реальные отзывы и портфолио</li>
									<li>Только белое SEO</li>
									<li>Индивидуальный подход</li>
									<li>Прозрачная отчетность</li>
								</ul>
							</div>
							<div class="buttons flex">
								<button class = "btn btn_small">Подробнее</button>
								<button class = "btn btn_small">WhatsApp</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about_top_specialists">
				<div class="top-specialists__information vip_border ">
					<div class="first vip">
						<div class="first__top-title flex">
							<p class = "upper">Vip</p>
							<div class="diamonds"></div>
						</div>
						<div class="first__avatar"style="background-image: url('../images/samples/avatar.jpg');">
							<div class="review_col">
								<p>отзывы <span>34</span></p>
							</div>
						</div>
					</div>
					<div class="second flex">
						<div class="dots">
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
						</div>
						<div class="second__information">
							<p class = "second__position">Дизайн интерфейсов приложений</p>
							<p class = "second__name">Александр Агафонов Александрович</p>
							<div class="ability">
								<ul>
									<li>Реальные отзывы и портфолио</li>
									<li>Только белое SEO</li>
									<li>Индивидуальный подход</li>
									<li>Прозрачная отчетность</li>
								</ul>
							</div>
							<div class="buttons flex">
								<button class = "btn btn_small">Подробнее</button>
								<button class = "btn btn_small">WhatsApp</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about_top_specialists">
				<div class="top-specialists__information vip_border ">
					<div class="first vip">
						<div class="first__top-title flex">
							<p class = "upper">Vip</p>
							<div class="diamonds"></div>
						</div>
						<div class="first__avatar" style="background-image: url('../images/samples/avatar.jpg');">
							<div class="review_col">
								<p>отзывы <span>34</span></p>
							</div>
						</div>
					</div>
					<div class="second flex">
						<div class="dots">
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
							<span class = "dots__dot"></span>
						</div>
						<div class="second__information">
							<p class = "second__position">Дизайн интерфейсов приложений</p>
							<p class = "second__name">Александр Агафонов Александрович</p>
							<div class="ability">
								<ul>
									<li>Реальные отзывы и портфолио</li>
									<li>Только белое SEO</li>
									<li>Индивидуальный подход</li>
									<li>Прозрачная отчетность</li>
								</ul>
							</div>
							<div class="buttons flex">
								<button class = "btn btn_small">Подробнее</button>
								<button class = "btn btn_small">WhatsApp</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="mob-about">
		<div class="prev-about">
			<p>назад</p>
		</div>
		<div class="swiper-container workers_big_block">
			<div class="prev-big_block" id = 'prev-block'>
				<img src="../images/samples/left_button_mob.png"/>
			</div>
			<div class="next-big_block" id = 'next-block'>
				<img src="../images/samples/rigth_button_mob.png"/>
			</div>
			<div class="swiper-wrapper">
				<div class="workers swiper-slide">
					<div class="workers__first">
						<div class="first_half flex justify-content-between">
							<div class="vip_or_profi flex">
								<p>Vip</p>
								<img src="../images/samples/vip.png"/>
							</div>
							<div class="salary">
								125 000 тг
							</div>
						</div>
						<div class="img_worker_avatar flex" style="background-image: url('../images/samples/avatar.jpg');"></div>
					</div>
					<div class="workers_second">
						<div class="top-date">На сайте с 16 сентября 2019 года</div>
						<div class="name">Александр Агафонов
							Александрович</div>
					</div>
					<div class="worker_thierd">
						<div class="questions_answears flex">
							<div class="question">Специализация:</div>
							<div class="anwear">Интернет услуги - Дизайн</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Часы работы:</div>
							<div class="anwear">Будни: 9:00 - 18:00
								Выходные: 14:00 - 21:00</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Город:</div>
							<div class="anwear">Алматы</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Сайт:</div>
							<div class="anwear">Proff.kz</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Паспорт:</div>
							<div class="anwear">08978567673</div>
						</div>
						<div class="reviews_shows flex">
							<div class="reviews flex">
								Отзывы:<span>824</span>
							</div>
							<div class="reviews flex">
								Просмотр:<span>824</span>
							</div>
						</div>	
					</div>
					<div class="workers_fourth">
						<button class = "btn btn_btnSmallMob center-button">
							<i class = "icon-mob_arrow_near_button"></i>
							Написать в WhatsApp
						</button>
					</div>
					<div class="workers_fourth">
						<button class = "btn  btn_writeReviewMob center-button" data-toggle="modal" data-target="#review_modal" data-backdrop="false">
							<i class = "icon-mob_arrow_near_button"></i>
							Написать отзыв
						</button>
					</div>
					<div class="workers_fifth">
						<div class="top_title">
							Описание:
						</div>
						<div class="info">
							UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы. Более 900 проектов сделано.
							Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
						</div>
					</div>
					<div class="workers_sixth">
						<div class="title">Дополнительная специализация:</div>
						<div class="position">Разработка сайта / Дизайн логотипов / 3D дизайн</div>
					</div>
					<div class="workers_seventh">
						<div class="title">Портфолио:</div>
						<div class="swiper-container mob-swiper_partfolio">
							<div class="swiper-wrapper">
							  	<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
							</div>
							<div class="arrows flex">
								<div class="left left_partfolio">
									<span class="figure_left"></span>
								</div>
								<div class="right right_partfolio">
									<span class="figure_right"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="workers_seventh">
						<div class="title">Лицензии:</div>
						<div class="swiper-container mob-swiper_license">
							<div class="swiper-wrapper">
							  	<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
							</div>
							<div class="arrows flex">
								<div class="left left_license">
									<span class="figure_left"></span>
								</div>
								<div class="right right_license">
									<span class="figure_right"></span>
								</div>
							</div>
						</div>
						
					</div>
					<div class="workers_eighth">
						<div class="title">Отзывы</div>
						<div class="swiper-container mob-swiper_review">
							<div class="swiper-wrapper">
								<div class="swiper-slide images-swiper-mob-reviews">
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
								</div>
								<div class="swiper-slide images-swiper-mob-reviews">
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
								</div>
							</div>
							<div class="arrows flex">
								<div class="left left_reviews">
									<span class="figure_left"></span>
								</div>
								<div class="right right_reviews">
									<span class="figure_right"></span>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="workers swiper-slide">
					<div class="workers__first">
						<div class="first_half flex justify-content-between">
							<div class="vip_or_profi flex">
								<p>Vip</p>
								<img src="../images/samples/vip.png"/>
							</div>
							<div class="salary">
								125 000 тг
							</div>
						</div>
						<div class="img_worker_avatar flex" style="background-image: url('../images/samples/avatar.jpg');"></div>
					</div>
					<div class="workers_second">
						<div class="top-date">На сайте с 16 сентября 2019 года</div>
						<div class="name">Александр Агафонов
							Александрович</div>
					</div>
					<div class="worker_thierd">
						<div class="questions_answears flex">
							<div class="question">Специализация:</div>
							<div class="anwear">Интернет услуги - Дизайн</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Часы работы:</div>
							<div class="anwear">Будни: 9:00 - 18:00
								Выходные: 14:00 - 21:00</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Город:</div>
							<div class="anwear">Алматы</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Сайт:</div>
							<div class="anwear">Proff.kz</div>
						</div>
						<div class="questions_answears flex">
							<div class="question">Паспорт:</div>
							<div class="anwear">08978567673</div>
						</div>
						<div class="reviews_shows flex">
							<div class="reviews flex">
								Отзывы:<span>824</span>
							</div>
							<div class="reviews flex">
								Просмотр:<span>824</span>
							</div>
						</div>	
					</div>
					<div class="workers_fourth">
						<button class = "btn btn_btnSmallMob center-button">
							<i class = "icon-mob_arrow_near_button"></i>
							Написать в WhatsApp
						</button>
					</div>
					<div class="workers_fourth">
						<button class = "btn  btn_writeReviewMob center-button" data-toggle="modal" data-target="#review_modal" data-backdrop="false">
							<i class = "icon-mob_arrow_near_button"></i>
							Написать отзыв
						</button>
					</div>
					<div class="workers_fifth">
						<div class="top_title">
							Описание:
						</div>
						<div class="info">
							UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы. Более 900 проектов сделано.
							Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
						</div>
					</div>
					<div class="workers_sixth">
						<div class="title">Дополнительная специализация:</div>
						<div class="position">Разработка сайта / Дизайн логотипов / 3D дизайн</div>
					</div>
					<div class="workers_seventh">
						<div class="title">Портфолио:</div>
						<div class="swiper-container mob-swiper_partfolio">
							<div class="swiper-wrapper">
							  	<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob">
									<img src="../images/samples/mob_avatar.png"/>
								</div>
							</div>
							<div class="arrows flex">
								<div class="left left_partfolio">
									<span class="figure_left"></span>
								</div>
								<div class="right right_partfolio">
									<span class="figure_right"></span>
								</div>
							</div>
						</div>
						
					</div>
					<div class="workers_seventh">
						<div class="title">Лицензии:</div>
						<div class="swiper-container mob-swiper_license">
							<div class="swiper-wrapper">
							  	<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
								<div class="swiper-slide images-swiper-mob-license">
									<img src="../images/samples/license_mob.png"/>
								</div>
							</div>
							<div class="arrows flex">
								<div class="left left_license">
									<span class="figure_left"></span>
								</div>
								<div class="right right_license">
									<span class="figure_right"></span>
								</div>
							</div>
						</div>
						
					</div>
					<div class="workers_eighth">
						<div class="title">Отзывы</div>
						<div class="swiper-container mob-swiper_review">
							<div class="swiper-wrapper">
								<div class="swiper-slide images-swiper-mob-reviews">
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
								</div>
								<div class="swiper-slide images-swiper-mob-reviews">
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
									<div class="review_swiper">
										<div class="name">
											Владислав Владиславович
										</div>
										<div class="date">18 ноября 2019</div>
										<div class="review_text">
											Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College
										</div>
									</div>
								</div>
							</div>
							<div class="arrows flex">
								<div class="left left_reviews">
									<span class="figure_left"></span>
								</div>
								<div class="right right_reviews">
									<span class="figure_right"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="reccomended_services">
			<div class="title">Рекомендуем</div>
			<div class="top-specialists_mob ">
				<div class="block">
					<div class="left flex">
						<div class="vip_diamond">
							<img src="/images/samples/vip.png"/>
							<p>VIP</p>
						</div>
						<div class="image_avatar">
							<img src="/images/samples/avatar.jpg"/>
						</div>
					</div>
					<div class="right">
						<div class="title">
							Дизайн интерфейсов приложений
						</div>
						<div class="name">
							Александр Агафонов Александрович
						</div>
						<div class="details">
							<ul class = "details-ul">
								<li>Реальные отзывы и портфолио</li>
								<li>Только белое SEO</li>
								<li>Индивидуальный подход</li>
								<li>Прозрачная отчетность</li>
							</ul>
						</div>
						<div class="buttons flex">
							<button onclick="location.href='about.html'" class="btn btn_btnMob flex">
								<i class = "icon-mob_arrow_near_button"></i>
								Подробнее
							</button>
							<button onclick="location.href='tel:87787581200'" class="btn btn_btnMob flex">
								<i class = "icon-mob_arrow_near_button"></i>
								WhatsApp
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="top-specialists_mob ">
				<div class="block">
					<div class="left flex">
						<div class="vip_diamond">
							<img src="/images/samples/vip.png"/>
							<p>VIP</p>
						</div>
						<div class="image_avatar">
							<img src="/images/samples/avatar.jpg"/>
						</div>
					</div>
					<div class="right">
						<div class="title">
							Дизайн интерфейсов приложений
						</div>
						<div class="name">
							Александр Агафонов Александрович
						</div>
						<div class="details">
							<ul class = "details-ul">
								<li>Реальные отзывы и портфолио</li>
								<li>Только белое SEO</li>
								<li>Индивидуальный подход</li>
								<li>Прозрачная отчетность</li>
							</ul>
						</div>
						<div class="buttons flex">
							<button onclick="location.href='about.html'" class="btn btn_btnMob flex">
								<i class = "icon-mob_arrow_near_button"></i>
								Подробнее
							</button>
							<button onclick="location.href='tel:87787581200'" class="btn btn_btnMob flex">
								<i class = "icon-mob_arrow_near_button"></i>
								WhatsApp
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="top-specialists_mob ">
				<div class="block">
					<div class="left flex">
						<div class="vip_diamond">
							<img src="/images/samples/vip.png"/>
							<p>VIP</p>
						</div>
						<div class="image_avatar">
							<img src="/images/samples/avatar.jpg"/>
							<div class="reviews_col flex">
								отзывы
								<span>34</span>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="title">
							Дизайн интерфейсов приложений
						</div>
						<div class="name">
							Александр Агафонов Александрович
						</div>
						<div class="details">
							<ul class = "details-ul">
								<li>Реальные отзывы и портфолио</li>
								<li>Только белое SEO</li>
								<li>Индивидуальный подход</li>
								<li>Прозрачная отчетность</li>
							</ul>
						</div>
						<div class="buttons flex">
							<button onclick="location.href='about.html'" class="btn btn_btnMob flex">
								<i class = "icon-mob_arrow_near_button"></i>
								Подробнее
							</button>
							<button onclick="location.href='tel:87787581200'" class="btn btn_btnMob flex">
								<i class = "icon-mob_arrow_near_button"></i>
								WhatsApp
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="review_modal" role="dialog" aria-labelledby="review_modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role = 'document' id ="review-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header flex">
					<div class="title">отзыв</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class = "icon-close_modal-ico close" aria-hidden="true"></i>
					</button>
					
				</div>
				<div class="modal-body reviewModal">
					<form action="">
						<label for="review-name">ФИО:</label>
						<input class = 'bigInputType' type="text" id = 'review-email' name = 'review-email'>
						<span class = "error_word">Error</span>
						<label for="review-text">Отзыв:</label>
						<textarea name="review-text" id="review-text" cols="30" rows="10" maxlength="255"></textarea>  
						<span class = "error_word">Error</span>
						<button class = 'btn btn_btnEnterModal flex'>Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
