<!-- Все услуги -->
{% set title = "Все услуги" %}
{% set namespace = "all_services" %} 
{% set page = "all_services" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<!-- Страница все услуги. Карточки специалистов  -->
<div class="fon-wrapper">
	<div class="fon"></div>
</div>	
<div class="images_back">
	<div class="stamp">
		<img src="images/samples/stamp.png"/>
	</div>
	<div class="leaf3">
		<img src="images/samples/Leaf3.png"/>
	</div>
	<div class="leaf4">
		<img src="images/samples/Leaf4.png"/>
	</div>
	<div class="leaf9">
		<img src="images/samples/Leaf9.png"/>
	</div>
	<div class="cup">
		<img src="images/samples/cup.png"/>
	</div>
</div>
<div class="container-fluid ">
    <div class="topTitle mob">
        <p class="topTitle__p"><span>МОИ УСЛУГИ</span> <br> биржа услуг всего Казахстана</p>
    </div>
    <div class="web-all_services">
        <div class="topTitle">
            <p class="topTitle__p"><span>МОИ УСЛУГИ</span> – биржа услуг всего Казахстана</p>
        </div>
        
        <div class="menu_card_services flex">
            <div class = "menu_card_services__search-block">
                <input type="text" placeholder="Поиск" name = "search">
            </div>
            <button class = "btn btn_large btn_shadow">Искать</button>
        </div>
        <div class="filter flex">
            <div class="filter__left">
                <div class="title flex">
                    <a href = "index.html">Главная страница</a>
                    <span>-</span>
                    <a href="all_services.html">Раздел услуг</a>  
                </div>
                <div class="block">
                    <div class="title_filter">ФИЛЬТР</div>
                    <div class="filter_menu">
                        <div class="items flex">
                            <div class="select_wrap">
                                <ul class="default-option flex justify-content-between" id = "section">
                                    <li class = "title" id ="section_title">Разделы</li>
                                    <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                                </ul>
                                <ul class="select_ul">
                                    <li class = "option section_li">Дом</li>
                                    <li class = "option section_li">Интернет услуги</li>
                                    <li class = "option section_li">Образование</li>
                                    <li class = "option section_li">Красота и здоровье</li>
                                    <li class = "option section_li">Менеджмент</li>
                                    <li class = "option section_li">Автомобиль</li>
                                </ul>
                            </div>
                        </div>
                        <div class="items">
                            <div class="select_wrap" id = 'subsection'>
                                <ul class="default-option flex justify-content-between" id = 'subsection'>
                                    <li class = "title classik" id = "subsection_title">подраздел</li>
                                    <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                                </ul>
                                <ul class="select_ul">
                                    <li class = "option subsection_li">Разработка сайтов и приложении</li>
                                    <li class = "option subsection_li">Разработка ПО</li>
                                    <li class = "option subsection_li">Внедрение 1C</li>
                                    <li class = "option subsection_li">Компьютерная помощь</li>
                                    <li class = "option subsection_li">Рисунки и иллюстрации</li>
                                    <li class = "option subsection_li">Дизайн полиграфии</li>
                                    <li class = "option subsection_li">Печатные услуги</li>
                                    <li class = "option subsection_li">Копирайтинг</li>
                                    <li class = "option subsection_li">Создание презентации</li>
                                    <li class = "option subsection_li">Рисунки и иллюстрации</li>
                                    <li class = "option subsection_li">Дизайн полиграфии</li>
                                    <li class = "option subsection_li">Печатные услуги</li>
                                    <li class = "option subsection_li">Копирайтинг</li>
                                    <li class = "option subsection_li">Создание презентации</li>
                                </ul>
                            </div>
                        </div>
                        <div class="items flex">
                            <div class="select_wrap ">
                                <ul class="default-option flex justify-content-between" id = "section">
                                    <li class = "title" id ="city_title">город</li>
                                    <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                                </ul>
                                <ul class="select_ul">
                                    <li class = "option city_li">Нур-Султан</li>
                                    <li class = "option city_li">Алматы</li>
                                    <li class = "option city_li">Шымкент</li>
                                    <li class = "option city_li">Актобе</li>
                                    <li class = "option city_li">Караганда</li>
                                    <li class = "option city_li">Тараз</li>
                                    <li class = "option city_li">Павлодар</li>
                                    <li class = "option city_li">Усть-Каменогорск</li>
                                    <li class = "option city_li">Семей</li>
                                    <li class = "option city_li">Атырау</li>
                                    <li class = "option city_li">Костанай</li>
                                    <li class = "option city_li">Кызылорда</li>
                                    <li class = "option city_li">Уральск</li>
                                    <li class = "option city_li">Петропавловск</li>
                                    <li class = "option city_li">Актау</li>
                                    <li class = "option city_li">Темиртау</li>
                                    <li class = "option city_li">Туркестан</li>
                                    <li class = "option city_li">Кокшетау</li>
                                    <li class = "option city_li">Талдыкорган</li>
                                    <li class = "option city_li">Экибастуз</li>
                                    <li class = "option city_li">Рудный</li>
                                </ul>
                            </div>
                        </div>
                        <div class="items flex">
                            <div class="select_wrap ">
                                <ul class="default-option flex justify-content-between" id = "section">
                                    <li class = "title" id ="region_title">РЕГИОН</li>
                                    <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                                </ul>
                                <ul class="select_ul">
                                    <li class = "option region_li">Нур-Султан</li>
                                    <li class = "option region_li">Алматы</li>
                                    <li class = "option region_li">Шымкент</li>
                                    <li class = "option region_li">Актобе</li>
                                    <li class = "option region_li">Караганда</li>       
                                    <li class = "option region_li">Тараз</li>
                                    <li class = "option region_li">Павлодар</li>
                                    <li class = "option region_li">Усть-Каменогорск</li>
                                    <li class = "option region_li">Семей</li>
                                    <li class = "option region_li">Атырау</li>
                                    <li class = "option region_li">Костанай</li>
                                    <li class = "option region_li">Кызылорда</li>
                                    <li class = "option region_li">Уральск</li>
                                    <li class = "option region_li">Петропавловск</li>
                                    <li class = "option region_li">Актау</li>
                                    <li class = "option region_li">Темиртау</li>
                                    <li class = "option region_li">Туркестан</li>
                                    <li class = "option region_li">Кокшетау</li>
                                    <li class = "option region_li">Талдыкорган</li>
                                    <li class = "option region_li">Экибастуз</li>
                                    <li class = "option region_li">Рудный</li>
                                </ul>
                            </div>
                        </div>
                        <div class="title_filter">
                            СОРТИРОВКА
                        </div>
                        <div class="items flex">
                            <div class="select_wrap">
                                <ul class="default-option flex justify-content-between" id = "section">
                                    <li class = "title" id ="data_title">Дата</li>
                                    <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                                </ul>
                                <ul class="select_ul">
                                    <li class = "option data_li">Новые</li>
                                    <li class = "option data_li">Давние</li>
                                </ul>
                            </div>
                        </div>
                        <div class="items flex">
                            <div class="select_wrap">
                                <ul class="default-option flex justify-content-between" id = "section">
                                    <li class = "title" id ="price_title">Стоимость</li>
                                </ul>
                                <ul class="select_ul">
                                    <li class = "option price_li">Низкий</li>
                                    <li class = "option price_li">Высокий</li>
                                </ul>
                            </div>
                        </div>
                        <div class="title_filter">показывать только</div>
                        <div class="flex checked_title justify-content-between">
                            <input type="checkbox" id = 'account'>
                            <label for="account">С аккаунтом VIP | PROFI </label>
                        </div>
                        <br>
                        <div class="flex checked_title justify-content-between">
                            <input type="checkbox" id="portfolio">
                            <label for="portfolio">С портфолио</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__right">
                <div class="right_inner flex justify-content-end">
                    <div class="top-specialists__information vip_border all_services_top_specialists">
                        <div class="first vip">
                            <div class="first__top-title flex">
                                <p class = "upper">Vip</p>
                                <div class="diamonds"></div>
                            </div>
                            <div class="first__avatar" style="background-image: url('../images/samples/avatar.jpg');">
                                <div class="review_col">
                                    <p>отзывы <span>34</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="second flex">
                            <div class="dots">
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                            </div>
                            <div class="second__information">
                                <p class = "second__position">Дизайн интерфейсов приложений</p>
                                <p class = "second__name">Александр Агафонов Александрович</p>
                                <div class="ability">
                                    <ul>
                                        <li>Реальные отзывы и портфолио</li>
                                        <li>Только белое SEO</li>
                                        <li>Индивидуальный подход</li>
                                        <li>Прозрачная отчетность</li>
                                    </ul>
                                </div>
                                <div class="buttons flex">
                                    <button class = "btn btn_small">Подробнее</button>
                                    <button class = "btn btn_small">WhatsApp</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-specialists__information vip_border all_services_top_specialists">
                        <div class="first vip">
                            <div class="first__top-title flex">
                                <p class = "upper">Vip</p>
                                <div class="diamonds"></div>
                            </div>
                            <div class="first__avatar"style="background-image: url('../images/samples/avatar.jpg');">
                                <div class="review_col">
                                    <p>отзывы <span>34</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="second flex">
                            <div class="dots">
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                            </div>
                            <div class="second__information">
                                <p class = "second__position">Дизайн интерфейсов приложений</p>
                                <p class = "second__name">Александр Агафонов Александрович</p>
                                <div class="ability">
                                    <ul>
                                        <li>Реальные отзывы и портфолио</li>
                                        <li>Только белое SEO</li>
                                        <li>Индивидуальный подход</li>
                                        <li>Прозрачная отчетность</li>
                                    </ul>
                                </div>
                                <div class="buttons flex">
                                    <button class = "btn btn_small">Подробнее</button>
                                    <button class = "btn btn_small">WhatsApp</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-specialists__information vip_border all_services_top_specialists">
                        <div class="first vip">
                            <div class="first__top-title flex">
                                <p class = "upper">Vip</p>
                                <div class="diamonds"></div>
                            </div>
                            <div class="first__avatar" style="background-image: url('../images/samples/avatar.jpg');">
                                <div class="review_col">
                                    <p>отзывы <span>34</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="second flex">
                            <div class="dots">
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                                <span class = "dots__dot"></span>
                            </div>
                            <div class="second__information">
                                <p class = "second__position">Дизайн интерфейсов приложений</p>
                                <p class = "second__name">Александр Агафонов Александрович</p>
                                <div class="ability">
                                    <ul>
                                        <li>Реальные отзывы и портфолио</li>
                                        <li>Только белое SEO</li>
                                        <li>Индивидуальный подход</li>
                                        <li>Прозрачная отчетность</li>
                                    </ul>
                                </div>
                                <div class="buttons flex">
                                    <button class = "btn btn_small">Подробнее</button>
                                    <button class = "btn btn_small">WhatsApp</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal_advertizing">
                    <img src="/images/samples/adver_2.jpg"/>
                </div>
                <div class="worker_cards">
                    <!-- <div class="worker_cards__colomn flex">
                        <div class="block">
                            <div class="flex">
                                <div class="left">
                                    <div class="left_half" style="background-image: url('/images/samples/avatar.jpg')"></div>
                                </div>
                                <div class="right">
                                    <div class="right__top-title">Дизайн интерфейсов приложений</div>
                                    <div class="right__name">Иванов Петр Александрович</div>
                                    <div class="right__position">
                                        UI/UX Web дизайн. Дизайн мобильных приложений.
                                    </div>
                                </div>
                            </div>

                            <div class="flex align-items-center reviews_block">
                                <div class="reviews flex">
                                    <i class = "icon-reviews_icon"></i>
                                    <p>отзывы: 12</p>
                                </div>
                                <div class="right__buttons flex">
                                    <button class = "btn btn_smallOnFilter">Подробнее</button>
                                    <button class = "btn btn_smallOnFilter">Написать в WhatsApp</button>
                                </div>
                            </div>
                        </div>

                        <div class="block">
                            <div class="flex">
                                <div class="left">
                                    <div class="left_half" style="background-image: url('/images/samples/avatar.jpg')"></div>
                                </div>
                                <div class="right">
                                    <div class="right__top-title">Дизайн интерфейсов приложений</div>
                                    <div class="right__name">Иванов Петр Александрович</div>
                                    <div class="right__position">
                                        UI/UX Web дизайн. Дизайн мобильных приложений.
                                    </div>
                                </div>
                            </div>

                            <div class="flex align-items-center reviews_block">
                                <div class="reviews flex">
                                    <i class = "icon-reviews_icon"></i>
                                    <p>отзывы: 12</p>
                                </div>
                                <div class="right__buttons flex">
                                    <button class = "btn btn_smallOnFilter">Подробнее</button>
                                    <button class = "btn btn_smallOnFilter">Написать в WhatsApp</button>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex">
                                <div class="left">
                                    <div class="left_half" style="background-image: url('/images/samples/avatar.jpg')"></div>
                                </div>
                                <div class="right">
                                    <div class="right__top-title">Дизайн интерфейсов приложений</div>
                                    <div class="right__name">Иванов Петр Александрович</div>
                                    <div class="right__position">
                                        UI/UX Web дизайн. Дизайн мобильных приложений.
                                    </div>
                                </div>
                            </div>

                            <div class="flex align-items-center reviews_block">
                                <div class="reviews flex">
                                    <i class = "icon-reviews_icon"></i>
                                    <p>отзывы: 12</p>
                                </div>
                                <div class="right__buttons flex">
                                    <button class = "btn btn_smallOnFilter">Подробнее</button>
                                    <button class = "btn btn_smallOnFilter">Написать в WhatsApp</button>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex">
                                <div class="left">
                                    <div class="left_half" style="background-image: url('/images/samples/avatar.jpg')"></div>
                                </div>
                                <div class="right">
                                    <div class="right__top-title">Дизайн интерфейсов приложений</div>
                                    <div class="right__name">Иванов Петр Александрович</div>
                                    <div class="right__position">
                                        UI/UX Web дизайн. Дизайн мобильных приложений.
                                    </div>
                                </div>
                            </div>

                            <div class="flex align-items-center reviews_block">
                                <div class="reviews flex">
                                    <i class = "icon-reviews_icon"></i>
                                    <p>отзывы: 12</p>
                                </div>
                                <div class="right__buttons flex">
                                    <button class = "btn btn_smallOnFilter">Подробнее</button>
                                    <button class = "btn btn_smallOnFilter">Написать в WhatsApp</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="listings_blocks flex" style='margin-left: 0;margin-top: 40px;'>
                        <div class="listings_blocks__left">
                            <div class="avatar" style="background-image: url('./images/samples/img_avatar@2x.jpg')"></div>
                        </div>
                        <div class="listings_blocks__rigth">
                            <div class="flex justify-content-between">
                                <div class="emlpoyee_info">
                                    <p class = "employee_position">Дизайн интерфейсов приложений</p>
                                    <p class = "employee_name">Иванов Петр Александрович <span>UI/UX Web дизайн. Дизайн мобильных приложений.</span></p>
                                </div>
                                <div class="listings_blocks_buttons">
                                    <button class="btn btn_writeWhatssap">Написать в WhatsApp</button>
                                    <button onclick = "location.href='about.html'" class="btn btn_details">Подробнее</button>
                                </div>
                            </div>
                            <div class="reviews_right">
                                <div class="review_flexed flex ">
                                    <i class = "icon-review_svg"></i>
                                    <p>отзывы: 12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listings_blocks flex" style='margin-left: 0;margin-top: 40px;'>
                        <div class="listings_blocks__left">
                            <div class="avatar" style="background-image: url('./images/samples/img_avatar@2x.jpg')"></div>
                        </div>
                        <div class="listings_blocks__rigth">
                            <div class="flex justify-content-between">
                                <div class="emlpoyee_info">
                                    <p class = "employee_position">Дизайн интерфейсов приложений</p>
                                    <p class = "employee_name">Иванов Петр Александрович <span>UI/UX Web дизайн. Дизайн мобильных приложений.</span></p>
                                </div>
                                <div class="listings_blocks_buttons">
                                    <button class="btn btn_writeWhatssap">Написать в WhatsApp</button>
                                    <button onclick = "location.href='about.html'" class="btn btn_details">Подробнее</button>
                                </div>
                            </div>
                            <div class="reviews_right">
                                <div class="review_flexed flex ">
                                    <i class = "icon-review_svg"></i>
                                    <p>отзывы: 12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listings_blocks flex" style='margin-left: 0;margin-top: 40px;'>
                        <div class="listings_blocks__left">
                            <div class="avatar" style="background-image: url('./images/samples/img_avatar@2x.jpg')"></div>
                        </div>
                        <div class="listings_blocks__rigth">
                            <div class="flex justify-content-between">
                                <div class="emlpoyee_info">
                                    <p class = "employee_position">Дизайн интерфейсов приложений</p>
                                    <p class = "employee_name">Иванов Петр Александрович <span>UI/UX Web дизайн. Дизайн мобильных приложений.</span></p>
                                </div>
                                <div class="listings_blocks_buttons">
                                    <button class="btn btn_writeWhatssap">Написать в WhatsApp</button>
                                    <button onclick = "location.href='about.html'" class="btn btn_details">Подробнее</button>
                                </div>
                            </div>
                            <div class="reviews_right">
                                <div class="review_flexed flex ">
                                    <i class = "icon-review_svg"></i>
                                    <p>отзывы: 12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listings_blocks flex" style='margin-left: 0;margin-top: 40px;'>
                        <div class="listings_blocks__left">
                            <div class="avatar" style="background-image: url('./images/samples/img_avatar@2x.jpg')"></div>
                        </div>
                        <div class="listings_blocks__rigth">
                            <div class="flex justify-content-between">
                                <div class="emlpoyee_info">
                                    <p class = "employee_position">Дизайн интерфейсов приложений</p>
                                    <p class = "employee_name">Иванов Петр Александрович <span>UI/UX Web дизайн. Дизайн мобильных приложений.</span></p>
                                </div>
                                <div class="listings_blocks_buttons">
                                    <button class="btn btn_writeWhatssap">Написать в WhatsApp</button>
                                    <button onclick = "location.href='about.html'" class="btn btn_details">Подробнее</button>
                                </div>
                            </div>
                            <div class="reviews_right">
                                <div class="review_flexed flex ">
                                    <i class = "icon-review_svg"></i>
                                    <p>отзывы: 12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class = "worker_cards__a">Загрузить еще</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mob_allServices">
        <div class="filter_and_previous flex justify-content-between">
            <div class="first">
                <p>назад</p>
            </div>
            <button class = "btn btn_filterBtn right flex" id = "filter_btn_mob">
                <i class = "icon-filter-ico"></i>
                Фильтр
            </button>
        </div>
        <div id = "filter_mob">
            <div class="title-close-mob flex" id = 'close-filter'>
                Закрыть фильтр
            </div>
            <div class="filter-block">
                <div class="filter-block__sub">
                    <ul class="default-option_filter_mob flex justify-content-between" id = "section_mob_filter">
                        <li class = "title" id ="section_title_mob_filter">Разделы</li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg>
                        <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                    </ul> 
                    <ul class="select_ul_mob_filter">
                        <li class = "option section_mob_filter_li">Дом</li>
                        <li class = "option section_mob_filter_li">Интернет услуги</li>
                        <li class = "option section_mob_filter_li">Образование</li>
                        <li class = "option section_mob_filter_li">Красота и здоровье</li>
                        <li class = "option section_mob_filter_li">Менеджмент</li>
                        <li class = "option section_mob_filter_li">Автомобиль</li>
                    </ul>
                </div>
            </div>
            <div class="filter-block">
                <div class="filter-block__sub">
                    <ul class="default-option_filter_mob flex justify-content-between" id = "sub_section_mob_filter">
                        <li class = "title" id ="sub_section_title_mob_filter">подраздел</li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg>
                        <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                    </ul>
                    <ul class="select_ul_mob_filter">
                        <li class = "option sub_section_mob_filter_li">Разработка сайтов и приложении</li>
                        <li class = "option sub_section_mob_filter_li">Разработка ПО</li>
                        <li class = "option sub_section_mob_filter_li">Внедрение 1C</li>
                        <li class = "option sub_section_mob_filter_li">Компьютерная помощь</li>
                        <li class = "option sub_section_mob_filter_li">Рисунки и иллюстрации</li>
                        <li class = "option sub_section_mob_filter_li">Дизайн полиграфии</li>
                        <li class = "option sub_section_mob_filter_li">Печатные услуги</li>
                        <li class = "option sub_section_mob_filter_li">Копирайтинг</li>
                        <li class = "option sub_section_mob_filter_li">Создание презентации</li>
                        <li class = "option sub_section_mob_filter_li">Рисунки и иллюстрации</li>
                        <li class = "option sub_section_mob_filter_li">Дизайн полиграфии</li>
                        <li class = "option sub_section_mob_filter_li">Печатные услуги</li>
                        <li class = "option sub_section_mob_filter_li">Копирайтинг</li>
                        <li class = "option sub_section_mob_filter_li">Создание презентации</li>
                    </ul>
                </div>
            </div>
            <div class="filter-block">
                <div class="filter-block__sub">
                    <ul class="default-option_filter_mob flex justify-content-between" id = "city_section_mob_filter">
                        <li class = "title" id ="city_section_title_mob_filter">регион</li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg>
                        <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                    </ul>
                    <ul class="select_ul_mob_filter">
                        <li class = "option city_section_mob_filter_li">Нур-Султан</li>
                        <li class = "option city_section_mob_filter_li">Алматы</li>
                        <li class = "option city_section_mob_filter_li">Шымкент</li>
                        <li class = "option city_section_mob_filter_li">Актобе</li>
                        <li class = "option city_section_mob_filter_li">Караганда</li>
                        <li class = "option city_section_mob_filter_li">Тараз</li>
                        <li class = "option city_section_mob_filter_li">Павлодар</li>
                        <li class = "option city_section_mob_filter_li">Усть-Каменогорск</li>
                        <li class = "option city_section_mob_filter_li">Семей</li>
                        <li class = "option city_section_mob_filter_li">Атырау</li>
                        <li class = "option city_section_mob_filter_li">Костанай</li>
                        <li class = "option city_section_mob_filter_li">Кызылорда</li>
                        <li class = "option city_section_mob_filter_li">Уральск</li>
                        <li class = "option city_section_mob_filter_li">Петропавловск</li>
                        <li class = "option city_section_mob_filter_li">Актау</li>
                        <li class = "option city_section_mob_filter_li">Темиртау</li>
                        <li class = "option city_section_mob_filter_li">Туркестан</li>
                        <li class = "option city_section_mob_filter_li">Кокшетау</li>
                        <li class = "option city_section_mob_filter_li">Талдыкорган</li>
                        <li class = "option city_section_mob_filter_li">Экибастуз</li>
                        <li class = "option city_section_mob_filter_li">Рудный</li>
                    </ul>
                </div>
            </div>  
            <div class="title_sort">СОРТИРОВКА</div>
            <div class="search_filter">
                <div class="search_filter__sub">
                    <ul class="default-option_filter_mob flex justify-content-between" id = "data_filter_mob">
                        <li class = "title" id ="data_filter_mob_title">Дата <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
                    </ul>
                    <ul class="select_ul_mob_filter">
                        <li class = "option datafilter_mob_li">Новые</li>
                        <li class = "option datafilter_mob_li">Давние</li>
                    </ul>
                </div>
            </div>
            <div class="search_filter">
                <div class="search_filter__sub">
                    <ul class="default-option_filter_mob flex justify-content-between" id = "price_filter_mob">
                        <li class = "title" id ="price_filter_mob_title">Стоимость<svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
                        <!-- <i class ="icon-active_arrow" id = 'section_arrow_ico'></i> -->
                    </ul>
                    <ul class="select_ul_mob_filter">
                        <li class = "option price_filter_mob_li">Низкий</li>
                        <li class = "option price_filter_mob_li">Высокий</li>
                    </ul>
                </div>
            </div>
            <div class="show_only">показывать только</div>              
            <div class="flex checked_title-mob justify-content-between">
                <input type="checkbox" id="account-mob">
                <label for="account-mob">С аккаунтом VIP | PROFI </label> 
            </div>
            <div class="flex checked_title-mob justify-content-between">
                <input type="checkbox" id="portfolio-mob">
                <label for="portfolio-mob">С портфолио </label>
            </div>
            <div class="button-filter">
                <button class = "btn btn_btnFilter">Применить фильтр</button>
            </div>
        </div>
        <div class="unfiltered_bock">
            <div class="top-specialists_mob ">
                <div class="block">
                    <div class="left flex">
                        <div class="vip_diamond">
                            <img src="/images/samples/vip.png"/>
                            <p>VIP</p>
                        </div>
                        <div class="image_avatar">
                            <img src="/images/samples/avatar.jpg"/>
                        </div>
                    </div>
                    <div class="right">
                        <div class="title">
                            Дизайн интерфейсов приложений
                        </div>
                        <div class="name">
                            Александр Агафонов Александрович
                        </div>
                        <div class="details">
                            <ul class = "details-ul">
                                <li>Реальные отзывы и портфолио</li>
                                <li>Только белое SEO</li>
                                <li>Индивидуальный подход</li>
                                <li>Прозрачная отчетность</li>
                            </ul>
                        </div>
                        <div class="buttons flex">
                            <button onclick="location.href='about.html'" class="btn btn_btnMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Подробнее
                            </button>
                            <button onclick="location.href='tel:87787581200'" class="btn btn_btnMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-specialists_mob ">
                <div class="block">
                    <div class="left flex">
                        <div class="vip_diamond">
                            <img src="/images/samples/vip.png"/>
                            <p>VIP</p>
                        </div>
                        <div class="image_avatar">
                            <img src="/images/samples/avatar.jpg"/>
                        </div>
                    </div>
                    <div class="right">
                        <div class="title">
                            Дизайн интерфейсов приложений
                        </div>
                        <div class="name">
                            Александр Агафонов Александрович
                        </div>
                        <div class="details">
                            <ul class = "details-ul">
                                <li>Реальные отзывы и портфолио</li>
                                <li>Только белое SEO</li>
                                <li>Индивидуальный подход</li>
                                <li>Прозрачная отчетность</li>
                            </ul>
                        </div>
                        <div class="buttons flex">
                            <button onclick="location.href='about.html'" class="btn btn_btnMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Подробнее
                            </button>
                            <button onclick="location.href='tel:87787581200'" class="btn btn_btnMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-specialists_mob ">
                <div class="block">
                    <div class="left flex">
                        <div class="vip_diamond">
                            <img src="/images/samples/vip.png"/>
                            <p>VIP</p>
                        </div>
                        <div class="image_avatar">
                            <img src="/images/samples/avatar.jpg"/>
                        </div>
                    </div>
                    <div class="right">
                        <div class="title">
                            Дизайн интерфейсов приложений
                        </div>
                        <div class="name">
                            Александр Агафонов Александрович
                        </div>
                        <div class="details">
                            <ul class = "details-ul">
                                <li>Реальные отзывы и портфолио</li>
                                <li>Только белое SEO</li>
                                <li>Индивидуальный подход</li>
                                <li>Прозрачная отчетность</li>
                            </ul>
                        </div>
                        <div class="buttons flex">
                            <button onclick="location.href='about.html'" class="btn btn_btnMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Подробнее
                            </button>
                            <button onclick="location.href='tel:87787581200'" class="btn btn_btnMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                WhatsApp   
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizontal-advertizing" style="background-image: url(./images/samples/adver_2.jpg);"></div>
            <div class="mob_listings">
                <div class="listining_block_mob">
                    <div class="left flex">
                        <div class="avatar-image-mob">
                            <img src="/images/samples/img_avatar@2x.jpg"/>
                        </div>
                        <div class="left-second">
                            <div class="top-title">
                                Дизайн интерфейсов приложений
                            </div>
                            <div class="name">
                                Иванов Петр Александрович 
                            </div>
                            <div class="info">UI/UX Web дизайн. Дизайн мобильных
                                приложений.</div>
                        </div>
                    </div>
                    <div class = "right flex">
                        <div class="reviews flex">
                            <i class = "icon-review_svg"></i>
                            <p>отзывы: 12</p>
                        </div>
                        <div class="buttons flex">
                            <button onclick="location.href='about.html'" class="btn btn_btnSmallMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Подробнее
                            </button>
                            <button onclick="location.href='tel:87787581200'" class="btn btn_btnSmallMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
                <div class="listining_block_mob">
                    <div class="left flex">
                        <div class="avatar-image-mob">
                            <img src="/images/samples/img_avatar@2x.jpg"/>
                        </div>
                        <div class="left-second">
                            <div class="top-title">
                                Дизайн интерфейсов приложений
                            </div>
                            <div class="name">
                                Иванов Петр Александрович 
                            </div>
                            <div class="info">UI/UX Web дизайн. Дизайн мобильных
                                приложений.</div>
                        </div>
                    </div>
                    <div class = "right flex">
                        <div class="reviews flex">
                            <i class = "icon-review_svg"></i>
                            <p>отзывы: 12</p>
                        </div>
                        <div class="buttons flex">
                            <button onclick="location.href='about.html'" class="btn btn_btnSmallMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Подробнее
                            </button>
                            <button onclick="location.href='tel:87787581200'" class="btn btn_btnSmallMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
                <div class="listining_block_mob">
                    <div class="left flex">
                        <div class="avatar-image-mob">
                            <img src="/images/samples/img_avatar@2x.jpg"/>
                        </div>
                        <div class="left-second">
                            <div class="top-title">
                                Дизайн интерфейсов приложений
                            </div>
                            <div class="name">
                                Иванов Петр Александрович 
                            </div>
                            <div class="info">UI/UX Web дизайн. Дизайн мобильных
                                приложений.</div>
                        </div>
                    </div>
                    <div class = "right flex">
                        <div class="reviews flex">
                            <i class = "icon-review_svg"></i>
                            <p>отзывы: 12</p>
                        </div>
                        <div class="buttons flex">
                            <button onclick="location.href='about.html'" class="btn btn_btnSmallMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Подробнее
                            </button>
                            <button onclick="location.href='tel:87787581200'" class="btn btn_btnSmallMob flex">
                                <i class = "icon-mob_arrow_near_button"></i>
                                WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="download">
                <a href="#">Загрузить еще</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
