<!-- Главная страница -->
{% set title = "Главная" %}
{% set namespace = "main" %}
{% set page = "index" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="fon-wrapper">
	<div class="fon"></div>
</div>
<div class="images_back">
	<div class="stamp">
		<img src="images/samples/stamp.png"/> 
	</div>
	<div class="leaf3">
		<img src="images/samples/Leaf3.png"/>
	</div>
	<div class="leaf4">
		<img src="images/samples/Leaf4.png"/>
	</div>
	<div class="leaf9">
		<img src="images/samples/Leaf9.png"/>
	</div>
	<div class="cup">
		<img src="images/samples/cup.png"/>
	</div>
</div>


<div class="top_specialistsAbsolute flex">
    <div class="top_specialistsAbsolute__star">
        <i class="icon-start_top"></i>
    </div>
    <div class="top_specialistsAbsolute__word">
        Top
    </div>
</div>  

<div class="newListingsAbsolute">
    <div class="newListingsAbsolute__plus">
        <i class = "icon-newListingsPlus"></i>
    </div>
    <div class="newListingsAbsolute__word">
        <p>new</p>
    </div>
</div>
<div class="container-fluid">
	<div class="topTitle webTitle flex">
        <span>МОИ УСЛУГИ</span>
		<p class="topTitle__p"> –  услуги всего Казахстана</p>
	</div>
	<div class="topTitle mob">  
		<p class="topTitle__p"><span>МОИ УСЛУГИ</span> <br>  услуги всего Казахстана</p>
	</div>
	<div class="menu">
		<div class="menu_block flex">
			<div class="menu_block__custom-select ">
				<select class="menu-items parts">
					<option selected disabled>Разделы</option>
					<option value="0">Дом</option>
					<option value="1">Интернет услуги</option>
					<option value="2">Образование</option>
					<option value="3">Красота и здоровье</option>
					<option value="4">Менеджмент</option>
					<option value="5">Автомобиль</option>
				</select>
				<!-- <i class = "icon-dropdown-arrow"></i> -->
			</div>
			<div class="menu_block__custom-select" id = "second-select">
				<select class="menu-items city">
					<option selected disabled>Города</option>
					<option value="0">Нур-Султан</option>
					<option value="1">Алматы</option>
					<option value="2">Шымкент</option>
					<option value="3">Актобе</option>
					<option value="4">Караганда</option>
					<option value="5">Тараз</option>
					<option value="6">Павлодар</option>
					<option value="7">Усть-Каменогорск</option>
					<option value="8">Семей</option>
					<option value="9">Атырау</option>
					<option value="10">Костанай</option>
					<option value="11">Кызылорда</option>
					<option value="12">Уральск</option>
					<option value="13">Петропавловск</option>
					<option value="14">Актау</option>
					<option value="15">Темиртау</option>
					<option value="16">Туркестан</option>
					<option value="17">Кокшетау</option>
					<option value="18">Талдыкорган</option>
					<option value="19">Экибастуз</option>
					<option value="20">Рудный</option>
				</select>
			</div>
			<div class = "menu_block__search-block" id = 'searched'>
                <input type="text" placeholder="Поиск" name = "search" class = 'search_input' list = 'datalist1'>
                <datalist id ="datalist1">
                    <option value="Дом"></option>
                    <option value="Интернет услуги"></option>
                    <option value="Красота и здоровье"></option>
                    <option value="Образование"></option>
                    <option value="Менеджмент"></option>   
                </datalist>
			</div>
		</div>
		<button onclick="location.href='all_services.html'" class = "btn btn_large btn_shadow">Искать</button>
	</div>
	<div class="services">
		<div class="services__clicked_block flex">
			<div class="left" style="background-image: url('/images/samples/index_internet.jpg');">
				<!-- <img src='/images/samples/index_internet.jpg'/> -->
			</div>
			<div class="right">
				<div class="sub-services">
					<div class="title">ИНТЕРНЕТ УСЛУГИ</div>
					<div class="flex justify-content-between list_services">
						<div class="block">
							<ul>
								<li><a href="#">Разработка сайтов и приложении</a></li>
								<li><a href="#">Разработка ПО</a></li>
								<li><a href="#">Внедрение 1C</a></li>
								<li><a href="#">Компьютерная помощь</a></li>
								<li><a href="#">Рисунки и иллюстрации</a></li>
								<li><a href="#">Дизайн полиграфии</a></li>
								<li><a href="#">Печатные услуги</a></li>
								<li><a href="#">Копирайтинг</a></li>
								<li><a href="#">Создание презентации </a></li>
								<li><a href="#">Рисунки и иллюстрации</a></li>
								<li><a href="#">Дизайн полиграфии</a></li>
								<li><a href="#">Печатные услуги</a></li>
								<li><a href="#">Копирайтинг</a></li>
								<li><a href="#">Создание презентации </a></li>
							</ul>
						</div>
						<div class="block">
							<ul>
								<li><a href="#">Разработка сайтов и приложении</a></li>
								<li><a href="#">Разработка ПО</a></li>
								<li><a href="#">Внедрение 1C</a></li>
								<li><a href="#">Компьютерная помощь</a></li>
								<li><a href="#">Рисунки и иллюстрации</a></li>
								<li><a href="#">Дизайн полиграфии</a></li>
								<li><a href="#">Печатные услуги</a></li>
								<li><a href="#">Копирайтинг</a></li>
								<li><a href="#">Создание презентации </a></li>
								<li><a href="#">Рисунки и иллюстрации</a></li>
								<li><a href="#">Дизайн полиграфии</a></li>
								<li><a href="#">Печатные услуги</a></li>
								<li><a href="#">Копирайтинг</a></li>
								<li><a href="#">Создание презентации </a></li>
							</ul>
						</div>
						<div class="block">
							<ul>
								<li><a href="#">Разработка сайтов и приложении</a></li>
								<li><a href="#">Разработка ПО</a></li>
								<li><a href="#">Внедрение 1C</a></li>
								<li><a href="#">Компьютерная помощь</a></li>
								<li><a href="#">Рисунки и иллюстрации</a></li>
								<li><a href="#">Дизайн полиграфии</a></li>
								<li><a href="#">Печатные услуги</a></li>
								<li><a href="#">Копирайтинг</a></li>
								<li><a href="#">Создание презентации </a></li>
								<li><a href="#">Рисунки и иллюстрации</a></li>
								<li><a href="#">Дизайн полиграфии</a></li>
								<li><a href="#">Печатные услуги</a></li>
								<li><a href="#">Копирайтинг</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="close flex">
					<i class = 'icon-arrow_near_button'></i>
					<span>Закрыть интернет услуги</span>
				</div>
			</div>
		</div>
		<div class="row flex">
			<div class="outside-offset">
                    <div class = "services__items">
                        <a class="services__items_back" href="#">
                            
                        <img src="./images/samples/index_home.jpg" alt="#" class="services__items_pic">
                        </a>
                    <div class="services_information flex">
                        <p>Дом</p>
                        <div class="arrow_and_link flex	">
                            <i class="icon-arrow_near_button"></i>
                            <span class="onclick-checked">Подробнее</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="outside-offset">
                <div class = "services__items">
                    <a class="services__items_back" href="#">
                        
                    <img src="./images/samples/index_internet.jpg" alt="#" class="services__items_pic">
                    </a>
                    <div class="services_information flex">
                        <p>Интернет услуги</p>
                        <div class="arrow_and_link flex	">
                            <i class="icon-arrow_near_button"></i>
                            <span class="onclick-checked">Подробнее</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="outside-offset">
                <div class = "services__items">
                    <a class="services__items_back" href="#">
                        
                    <img src="./images/samples/index_education.jpg" alt="#" class="services__items_pic">
                    </a>
                    <div class="services_information flex">
                        <p>Образование</p>
                        <div class="arrow_and_link flex	">
                            <i class="icon-arrow_near_button"></i>
                            <span class="onclick-checked">Подробнее</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="outside-offset">
                <div class = "services__items">
                    <a class="services__items_back" href="#">
                        
                    <img src="./images/samples/index_health.jpg" alt="#" class="services__items_pic">
                    </a>
                    <div class="services_information flex">
                        <p>Красота и здоровье </p>
                        <div class="arrow_and_link flex	">
                            <i class="icon-arrow_near_button"></i>
                            <span class="onclick-checked">Подробнее</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="outside-offset">
                <div class = "services__items">
                    <a class="services__items_back" href="#">
                        
                    <img src="./images/samples/index_maned.jpg" alt="#" class="services__items_pic">
                    </a>
                    <div class="services_information flex">
                        <p>Менеджмент</p>
                        <div class="arrow_and_link flex	">
                            <i class="icon-arrow_near_button"></i>
                            <span class="onclick-checked">Подробнее</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="outside-offset">
                <div class = "services__items">
                    <a class="services__items_back" href="#">
                        
                    <img src="./images/samples/index_car.jpg" alt="#" class="services__items_pic">
                    </a>
                    <div class="services_information flex">
                        <p>Автомобиль</p>
                        <div class="arrow_and_link flex	">
                            <i class="icon-arrow_near_button"></i>
                            <span class="onclick-checked">Подробнее</span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="top-title2 flex top-title2__line">
        <span>
            Tоp  специалистов
        </span>
	</div>
    <div class="flex">
        <div class="top-specialists web">
            <div class = "top_set">
                <div class="top-specialists__information vip_border">
                    <div class="first vip">
                        <div class="first__top-title flex">
                            <p class = "upper">Vip</p>
                            <div class="diamonds"></div>
                        </div>
                        <div class="first__avatar" style="background-image: url('../images/samples/avatar.jpg');">
                            <div class="review_col">
                                <p>отзывы <span>34</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="second flex">
                        <div class="dots">
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                        </div>
                        <div class="second__information">
                            <p class = "second__position">Дизайн интерфейсов приложений</p>
                            <p class = "second__name">Александр Агафонов Александрович</p>
                            <div class="ability">
                                <ul>
                                    <li>Реальные отзывы и портфолио</li>
                                    <li>Только белое SEO</li>
                                    <li>Индивидуальный подход</li>
                                    <li>Прозрачная отчетность</li>
                                </ul>
                            </div>
                            <div class="buttons flex">
                                <button class = "btn btn_small"><a href = "about.html">Подробнее</a></button>
                                <button class = "btn btn_small" >
                                    <a href = "https://wa.me/87787373222">WhatsApp</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_set">
                <div class="top-specialists__information profi_border">
                    <div class="first profi">
                        <div class="first__top-title flex">
                            <p class = "upper">profi</p>
                            <div class="brief"></div>
                        </div>
                        <div class="first__avatar" style="background-image: url('../images/samples/avatar.jpg');">
                            <div class="review_col">
                                <p>отзывы <span>34</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="second flex">
                        <div class="dots">
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                        </div>
                        <div class="second__information">
                            <p class = "second__position">Дизайн интерфейсов приложений</p>
                            <p class = "second__name">Александр Агафонов Александрович</p>
                            <div class="ability">
                                <ul>
                                    <li>Реальные отзывы и портфолио</li>
                                    <li>Только белое SEO</li>
                                    <li>Индивидуальный подход</li>
                                    <li>Прозрачная отчетность</li>
                                </ul>
                            </div>
                            <div class="buttons flex">
                                <button class = "btn btn_small"><a href = "about.html">Подробнее</a></button>
                                <button class = "btn btn_small">
                                    <a href="https://wa.me/87772223344">
                                        WhatsApp
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_set">
                <div class="top-specialists__information vip_border">
                    <div class="first vip">
                        <div class="first__top-title flex">
                            <p class = "upper">Vip</p>
                            <div class="diamonds"></div>
                        </div>
                        <div class="first__avatar" style="background-image: url('../images/samples/avatar.jpg');">
                            <div class="review_col">
                                <p>отзывы <span>34</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="second flex">
                        <div class="dots">
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                            <span class = "dots__dot"></span>
                        </div>
                        <div class="second__information">
                            <p class = "second__position">Дизайн интерфейсов приложений</p>
                            <p class = "second__name">Александр Агафонов Александрович</p>
                            <div class="ability">
                                <ul>
                                    <li>Реальные отзывы и портфолио</li>
                                    <li>Только белое SEO</li>
                                    <li>Индивидуальный подход</li>
                                    <li>Прозрачная отчетность</li>
                                </ul>
                            </div>
                            <div class="buttons flex">
                                <button class = "btn btn_small"><a href = "about.html">Подробнее</a></button>
                                <button class = "btn btn_small">
                                    <a href="https://wa.me/77082345612">
                                        WhatsApp
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="advertizing">
            <img src="images/samples/advertizing_1.png"/>
        </div>
    </div>
	<div class="top-specialists_mob ">
		<div class="block">
			<div class="left flex">
                <div class="vip_diamond">
                    <div class="status">
                        <img src="/images/samples/vip.png"/>
                        <p>VIP</p>
                    </div>
                    <div class="reviews_col flex">
                        34
                    </div>
                </div>
                <div class="image_avatar">
                    <img src="/images/samples/avatar.jpg"/>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    Дизайн интерфейсов приложений
                </div>
                <div class="name">
                    Александр Агафонов Александрович
                </div>
                <div class="details">
                    <ul class = "details-ul">
                        <li>Реальные отзывы и портфолио</li>
                        <li>Только белое SEO</li>
                        <li>Индивидуальный подход</li>
                        <li>Прозрачная отчетность</li>
                    </ul>
                </div>
                <div class="buttons flex">
                    <button onclick="location.href='about.html'" class="btn btn_btnMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        Подробнее
                    </button>
                    <button onclick="location.href='tel:87787581200'" class="btn btn_btnMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        <a href=" https://wa.me/77082345612">WhatsApp</a>
                    </button>
                </div>
            </div>
		</div>
    </div>
    <div class="top-specialists_mob ">
		<div class="block">
			<div class="left flex">
                <div class="vip_diamond">
                    <img src="/images/samples/vip.png"/>
                    <p>VIP</p>
                </div>
                <div class="image_avatar">
                    <img src="/images/samples/avatar.jpg"/>
                    <div class="reviews_col flex">
                        отзывы
                        <span>34</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    Дизайн интерфейсов приложений
                </div>
                <div class="name">
                    Александр Агафонов Александрович
                </div>
                <div class="details">
                    <ul class = "details-ul">
                        <li>Реальные отзывы и портфолио</li>
                        <li>Только белое SEO</li>
                        <li>Индивидуальный подход</li>
                        <li>Прозрачная отчетность</li>
                    </ul>
                </div>
                <div class="buttons flex">
                    <button onclick="location.href='about.html'" class="btn btn_btnMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        Подробнее
                    </button>
                    <button class="btn btn_btnMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        <a href="https://wa.me/77051350000">
                            WhatsApp
                        </a>
                    </button>
                </div>
            </div>
		</div>
    </div>
    <div class="top-specialists_mob ">
		<div class="block">
			<div class="left flex">
                <div class="vip_diamond">
                    <img src="/images/samples/vip.png"/>
                    <p>VIP</p>
                </div>
                <div class="image_avatar">
                    <img src="/images/samples/avatar.jpg"/>
                    <div class="reviews_col flex">
                        отзывы
                        <span>34</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    Дизайн интерфейсов приложений
                </div>
                <div class="name">
                    Александр Агафонов Александрович
                </div>
                <div class="details">
                    <ul class = "details-ul">
                        <li>Реальные отзывы и портфолио</li>
                        <li>Только белое SEO</li>
                        <li>Индивидуальный подход</li>
                        <li>Прозрачная отчетность</li>
                    </ul>
                </div>
                <div class="buttons flex">
                    <button onclick="location.href='about.html'" class="btn btn_btnMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        Подробнее
                    </button>
                    <button class="btn btn_btnMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        <a href="https://wa.me/77082345612">
                            WhatsApp
                        </a>
                           
                    </button>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="horizontal-advertizing" style="background-image: url(./images/samples/adver_2.jpg);"></div>
	<div class="new_listings">
		<div class="new_listings__title">
            <span>
                Новые объявления
            </span>
        </div>
	</div>
	<div class="listings_blocks flex">
		<div class="listings_blocks__left">
			<div class="avatar" style="background-image: url('./images/samples/img_avatar@2x.jpg')"></div>
		</div>
		<div class="listings_blocks__rigth">
			<div class="flex justify-content-between">
				<div class="emlpoyee_info">
					<p class = "employee_position">Дизайн интерфейсов приложений</p>
					<p class = "employee_name">Иванов Петр Александрович <span>UI/UX Web дизайн. Дизайн мобильных приложений.</span></p>
				</div>
				<div class="listings_blocks_buttons">
					<button class="btn btn_writeWhatssap">
                        <a href="https://wa.me/77082345612">
                            Написать в WhatsApp
                        </a>
                    </button>
					<button onclick = "location.href='about.html'" class="btn btn_details">Подробнее</button>
				</div>
			</div>
            <div class="reviews_right">
                <div class="review_flexed flex ">
                    <i class = "icon-review_svg"></i>
                    <p>отзывы: 12</p>
                </div>
            </div>
		</div>
	</div>
    <div class="listings_blocks flex">
        <div class="listings_blocks__left">
            <div class="avatar" style="background-image: url('./images/samples/img_avatar@2x.jpg')"></div>
        </div>
        <div class="listings_blocks__rigth">
            <div class="flex justify-content-between">
                <div class="emlpoyee_info">
                    <p class = "employee_position">Дизайн интерфейсов приложений</p>
                    <p class = "employee_name">Иванов Петр Александрович <span>UI/UX Web дизайн. Дизайн мобильных приложений.</span></p>
                </div>
                <div class="listings_blocks_buttons">
                    <button class="btn btn_writeWhatssap">
                        <a href="https://wa.me/77082345612">
                            Написать в WhatsApp
                        </a>
                    </button>
                    <button onclick = "location.href='about.html'" class="btn btn_details">Подробнее</button>
                </div>
            </div>
            <div class="reviews_right">
                <div class="review_flexed flex ">
                    <i class = "icon-review_svg"></i>
                    <p>отзывы: 12</p>
                </div>
            </div>
        </div>
    </div>
    <div class="listings_blocks flex">
        <div class="listings_blocks__left">
            <div class="avatar" style="background-image: url('./images/samples/img_avatar@2x.jpg')"></div>
        </div>
        <div class="listings_blocks__rigth">
            <div class="flex justify-content-between">
                <div class="emlpoyee_info">
                    <p class = "employee_position">Дизайн интерфейсов приложений</p>
                    <p class = "employee_name">Иванов Петр Александрович <span>UI/UX Web дизайн. Дизайн мобильных приложений.</span></p>
                </div>
                <div class="listings_blocks_buttons">
                    <button class="btn btn_writeWhatssap">
                        <a href="https://wa.me/77082345612">
                            Написать в WhatsApp
                        </a>
                    </button>
                    <button onclick = "location.href='about.html'" class="btn btn_details">Подробнее</button>
                </div>
            </div>
            <div class="reviews_right">
                <div class="review_flexed flex ">
                    <i class = "icon-review_svg"></i>
                    <p>отзывы: 12</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mob_listings">
        <div class="listining_block_mob">
            <div class="left flex">
                <div class="avatar-image-mob">
                    <img src="/images/samples/img_avatar@2x.jpg"/>
                </div>
                <div class="left-second">
                    <div class="top-title">
                        Дизайн интерфейсов приложений
                    </div>
                    <div class="name">
                        Иванов Петр Александрович 
                    </div>
                    <div class="info">UI/UX Web дизайн. Дизайн мобильных
                        приложений.</div>
                </div>
            </div>
            <div class = "right flex">
                <div class="reviews flex">
                    <i class = "icon-review_svg"></i>
                    <p>отзывы: 12</p>
                </div>
                <div class="buttons flex">
                    <button onclick="location.href='about.html'" class="btn btn_btnSmallMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        Подробнее
                    </button>
                    <button  class="btn btn_btnSmallMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        <a href="https://wa.me/77082345612">
                            WhatsApp
                        </a>
                        
                    </button>
                </div>
            </div>
        </div>
        <div class="listining_block_mob">
            <div class="left flex">
                <div class="avatar-image-mob">
                    <img src="/images/samples/img_avatar@2x.jpg"/>
                </div>
                <div class="left-second">
                    <div class="top-title">
                        Дизайн интерфейсов приложений
                    </div>
                    <div class="name">
                        Иванов Петр Александрович 
                    </div>
                    <div class="info">UI/UX Web дизайн. Дизайн мобильных
                        приложений.</div>
                </div>
            </div>
            <div class = "right flex">
                <div class="reviews flex">
                    <i class = "icon-review_svg"></i>
                    <p>отзывы: 12</p>
                </div>
                <div class="buttons flex">
                    <button onclick="location.href='about.html'" class="btn btn_btnSmallMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        Подробнее
                    </button>
                    <button onclick="location.href='tel:87787581200'" class="btn btn_btnSmallMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        <a href="https://wa.me/77082345612">
                            WhatsApp
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="listining_block_mob">
            <div class="left flex">
                <div class="avatar-image-mob">
                    <img src="/images/samples/img_avatar@2x.jpg"/>
                </div>
                <div class="left-second">
                    <div class="top-title">
                        Дизайн интерфейсов приложений
                    </div>
                    <div class="name">
                        Иванов Петр Александрович 
                    </div>
                    <div class="info">UI/UX Web дизайн. Дизайн мобильных
                        приложений.</div>
                </div>
            </div>
            <div class = "right flex">
                <div class="reviews flex">
                    <i class = "icon-review_svg"></i>
                    <p>отзывы: 12</p>
                </div>
                <div class="buttons flex">
                    <button onclick="location.href='about.html'" class="btn btn_btnSmallMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        Подробнее
                    </button>
                    <button onclick="location.href='tel:87787581200'" class="btn btn_btnSmallMob flex">
                        <i class = "icon-mob_arrow_near_button"></i>
                        <a href="https://wa.me/77082345612">
                            WhatsApp
                        </a>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
	<div class="download">
		<a href="#">Загрузить еще</a>
	</div>
</div>

{% endblock %}
