<!-- Партфолио -->
{% set title = "Партфолио" %}
{% set namespace = "my_portfolio" %} 
{% set page = "my_portfolio" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<!-- Страница Партфолио. -->
<div class="fon-wrapper">
	<div class="fon"></div>
</div>	
<div class="images_back">
	<div class="stamp">
		<img src="images/samples/stamp.png"/>
	</div>
	<div class="leaf3">
		<img src="images/samples/Leaf3.png"/>
	</div>
	<div class="leaf4">
		<img src="images/samples/Leaf4.png"/>
	</div>
	<div class="leaf9">
		<img src="images/samples/Leaf9.png"/>
	</div>
	<div class="cup">
		<img src="images/samples/cup.png"/>
	</div>
</div>
<div class="container-fluid">
    <div class="topTitle webTitle flex">
        <span>МОИ УСЛУГИ</span>
		<p class="topTitle__p"> –  услуги всего Казахстана</p>
	</div>
	<div class="topTitle mob">  
		<p class="topTitle__p"><span>МОИ УСЛУГИ</span> <br>  услуги всего Казахстана</p>
	</div>
    <div class="web_my_partfolio">
        <div class="menu_card_services flex">
            <div class = "menu_card_services__search-block">
                <input type="text" placeholder="Поиск" name = "search">
            </div>
            <button class = "btn btn_large btn_shadow">Искать</button>
        </div>
        <div class="portfolio flex">
            <div class="portfolio__left">
                <div class="left-title">
                    МОЙ ПРОФИЛЬ
                </div>
                <div class="cv_buttons">
                    <div class="cv-first flex justify-content-between" id = "my_cv">
                        <p>Мои резюме</p>
                        <i class = "icon-dropdown-arrow"></i>
                    </div>
                    <div class="cv-first flex justify-content-between" id = "additional_services">
                        <p>Дополнительные услуги</p>
                        <i class = "icon-dropdown-arrow"></i>
                    </div>
                </div>
                <div class="add_cv_buttons flex">
                    <button class = "btn btn_btnWithIcon btn-add flex" id = "show_changed_btn">
                        <i class = "icon-plusik"></i>
                        Добавить резюме
                    </button>
                    <button class = "btn btn_btnWithIcon btn-add flex justify-content-between"   data-toggle="modal" data-target="#changePassword" data-backdrop="false">
                        <i class = "icon-lock"></i>
                        Изменить пароль
                    </button>
                </div>
            </div>
            <div class="portfolio__right ">
                <div class="my_cvs">
                    <div class="top-title flex">
                        <div class="top-date">16 сентября 2019 г.</div>
                        <div class="cv_number">Резюме №2</div>
                    </div>
                    <div class="about-worker flex justify-content-between">
                        <div class="worker-images">
                            <div class="top-block ">
                                <div class="status">
                                    <img src="/images/samples/profi.png"/>
                                    <p>PROFI</p>
                                </div>
                                <div class="image_avatar" style="background-image: url('../images/samples/avatar.jpg');"></div>
                            </div>
                            <div class="images_avatar_bottom flex justify-content-between">
                                <a href="/images/samples/avatar.jpg" data-fancybox="gallery-10"><img src="/images/samples/avatar.jpg" /></a>
                                <a href="/images/samples/avatar.jpg" data-fancybox="gallery-10"><img src="/images/samples/avatar.jpg" /></a>
                            </div>
                        </div>
                        <div class="worker-info">
                            <div class="first_half">
                                <div class="name_button flex justify-content-between">
                                    <p>Александр Агафонов<br>
                                        Александрович</p>
                                    <!-- <div>
                                        <button class = "btn flex btn_btnChangeIcon">
                                            <i class="icon-change"></i>
                                            Редактировать профиль
                                        </button>
                                    </div> -->
                                </div>
                                <div class="questions flex">
                                    <div class="first_block flex ">
                                        <div class="fhalf">
                                            <span class="question">Специализация:</span>
                                            <span class="question">Стоимость:</span>
                                            <span class="question">WhatsApp:</span>
                                            <span class="question">Документ:</span>
                                        </div>
                                        <div class="shalf">
                                            <span class="answear">Интернет услуги - Дизайн</span>
                                            <span  class="answear" id="shalfNumMP">123000</span>
                                            <a href = "tel:8777777777" class="answear">+7 (777) 777 77 77</a>
                                            <span class="answear">08978567673</span>

                                        </div>
                                    </div>
                                    <div class="second_block flex">
                                        <div class="fhalf">
                                            <span class="question">Город:</span>
                                            <span class="question">Почта:</span>
                                            <span class="question">Часы работы:</span>
                                        </div>
                                        <div class="shalf">
                                            <span class="answear">Алматы</span>
                                            <span class="answear">123.@mail.ru</span>
                                            <span class="answear">Будние: 9:00 - 18:00 <br> Выходные: 14:00 - 21:00</span>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="details_abot_worker">
                                <div class="title">Описание:</div>
                                <div class="info">
                                    UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы. Более 900 проектов сделано.
                                    Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper_avatar flex justify-content-between">
                        <div class="portfolio_license__block">
                            <div class="title_arrows flex">
                                <div class="title">Портфолио:</div>
                                <div class="arrow flex">
                                    <div class="left" id = "left_partfolio">
                                        <span class="figure_left"></span>
                                    </div>
                                    <div class="right" id = "right_partfolio">
                                        <span class="figure_right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="images swiper-container flex" id = "swiper_part">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-11"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_license__block">
                            <div class="title_arrows flex">
                                <div class="title">Лицензии и сертификаты:</div>
                                <div class="arrow flex">
                                    <div class="left" id = "left_license">
                                        <span class="figure_left"></span>
                                    </div>
                                    <div class="right" id = "right_license">
                                        <span class="figure_right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="images swiper-container flex " id = "swiper_license">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-12"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio__right_under">
                        <div class="top-title flex">
                            <div class="top-date">16 сентября 2019 г.</div>
                            <div class="cv_number">Резюме №2</div>
                        </div>
                        <div class="about-worker flex justify-content-between">
                            <div class="worker-images">
                                <div class="top-block ">
                                    <div class="status">
                                        <img src="/images/samples/profi.png"/>
                                        <p>PROFI</p>
                                    </div>
                                    <div class="image_avatar" style="background-image: url('../images/samples/avatar.jpg');"></div>
                                </div>
                                <div class="images_avatar_bottom flex justify-content-between">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-13"><img src="/images/samples/avatar.jpg" /></a>
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-13"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                            </div>
                            <div class="worker-info">
                                <div class="first_half">
                                    <div class="name_button flex justify-content-between">
                                        <p>Александр Агафонов<br>
                                            Александрович</p>
                                    </div>
                                    <div class="questions flex">
                                        <div class="first_block flex ">
                                            <div class="fhalf">
                                                <span class="question">Специализация:</span>
                                                <span class="question">Стоимость:</span>
                                                <span class="question">WhatsApp:</span>
                                                <span class="question">Документ:</span>
                                            </div>
                                            <div class="shalf">
                                                <span class="answear">Интернет услуги - Дизайн</span>
                                                <span class="answear" id="shalfNumMPP">123000</span>
                                                <a href = "tel:8777777777" class="answear">+7 (777) 777 77 77</a>
                                                <span class="answear">08978567673</span>

                                            </div>
                                        </div>
                                        <div class="second_block flex">
                                            <div class="fhalf">
                                                <span class="question">Город:</span>
                                                <span class="question">Почта:</span>
                                                <span class="question">Часы работы:</span>
                                            </div>
                                            <div class="shalf">
                                                <span class="answear">Алматы</span>
                                                <span class="answear">123.@mail.ru</span>
                                                <span class="answear">Будние: 9:00 - 18:00 <br> Выходные: 14:00 - 21:00</span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="details_abot_worker">
                                    <div class="title">Описание:</div>
                                    <div class="info">
                                        UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы. Более 900 проектов сделано.
                                        Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper_avatar flex  justify-content-between">
                            <div class="portfolio_license__block">
                                <div class="title_arrows flex ">
                                    <div class="title">Портфолио:</div>
                                    <div class="arrow flex">
                                        <div class="left" id = "left_last">
                                            <span class="figure_left"></span>
                                        </div>
                                        <div class="right" id = 'right_last'>
                                            <span class="figure_right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-container images" id = "partfoli_swiper">
                                    <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="/images/samples/avatar.jpg" data-fancybox="gallery-14"><img src="/images/samples/avatar.jpg" /></a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio__right_under">
                        <div class="top-title flex">
                            <div class="top-date">16 сентября 2019 г.</div>
                            <div class="cv_number">Резюме №2</div>
                        </div>
                        <div class="about-worker flex justify-content-between">
                            <div class="worker-images">
                                <div class="top-block ">
                                    <div class="status">
                                        <img src="/images/samples/profi.png"/>
                                        <p>PROFI</p>
                                    </div>
                                    <div class="image_avatar" style="background-image: url('../images/samples/avatar.jpg');"></div>
                                </div>
                                <div class="images_avatar_bottom flex justify-content-between">
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-15"><img src="/images/samples/avatar.jpg" /></a>
                                    <a href="/images/samples/avatar.jpg" data-fancybox="gallery-15"><img src="/images/samples/avatar.jpg" /></a>
                                </div>
                            </div>
                            <div class="worker-info">
                                <div class="first_half">
                                    <div class="name_button flex justify-content-between">
                                        <p>Александр Агафонов<br>
                                            Александрович</p>
                                    </div>
                                    <div class="questions flex">
                                        <div class="first_block flex ">
                                            <div class="fhalf">
                                                <span class="question">Специализация:</span>
                                                <span class="question">Стоимость:</span>
                                                <span class="question">WhatsApp:</span>
                                                <span class="question">Документ:</span>
                                            </div>
                                            <div class="shalf">
                                                <span class="answear">Интернет услуги - Дизайн</span>
                                                <span class="answear">123 000 тг</span>
                                                <a href = "tel:8777777777" class="answear">+7 (777) 777 77 77</a>
                                                <span class="answear">08978567673</span>

                                            </div>
                                        </div>
                                        <div class="second_block flex">
                                            <div class="fhalf">
                                                <span class="question">Город:</span>
                                                <span class="question">Почта:</span>
                                                <span class="question">Часы работы:</span>
                                            </div>
                                            <div class="shalf">
                                                <span class="answear">Алматы</span>
                                                <span class="answear">123.@mail.ru</span>
                                                <span class="answear">Будние: 9:00 - 18:00 <br> Выходные: 14:00 - 21:00</span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="details_abot_worker">
                                    <div class="title">Описание:</div>
                                    <div class="info">
                                        UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы. Более 900 проектов сделано.
                                        Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper_avatar flex justify-content-between">
                            
                        </div>
                    </div>
                </div>
                <div class="additional_services " >
                    <table class="redTable">
                        <thead>
                            <tr>
                                <th class = 'number_table'>№</th>
                                <th class = 'name_table'>Наименование</th>
                                <th class = "period_table">Период</th>
                                <th class = "period_table">Сумма</th>
                                <th>Описание</th>
                                <th class = 'btn_table_w'>Купить</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Статус VIP</td>
                                <td>1 месяц</td>
                                <td>10 000тг</td>
                                <td></td>
                                <td>
                                    <button class="btn btn_table">Купить услугу</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Покраска объявления</td>
                                <td>1 месяц</td>
                                <td>10 000тг</td>
                                <td></td>
                                <td>
                                    <button class="btn btn_table">Купить услугу</button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Лицензии и сертификаты</td>
                                <td>1 месяц</td>
                                <td>10 000тг</td>
                                <td></td>
                                <td>
                                    <button class="btn btn_table">Купить услугу</button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Повтор объявления</td>
                                <td>1 месяц</td>
                                <td>10 000тг</td>
                                <td></td>
                                <td>
                                    <button class="btn btn_table">Купить услугу</button>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Добавить дополнительное место для портфолио</td>
                                <td>1 месяц</td>
                                <td>10 000тг</td>
                                <td></td>
                                <td>
                                    <button class="btn btn_table">Купить услугу</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="change_page">
                    <div class="change_page__title">Редактировать резюме </div>
                    <div class="change_page__download_photos">
                        <div class="images flex">
                            <div class="image_button">
                                <div class = 'img_btn_img'>
                                    <img src="/images/samples/avatar.jpg"/>
                                </div>
                                <div class="do_main">
                                    Сделать основным
                                </div>
                            </div>
                            <div class="image_button">
                                <div class = 'img_btn_img'>
                                    <img src="/images/samples/avatar.jpg"/>
                                </div>
                                <div class="do_main">
                                    Сделать основным
                                </div>
                            </div>
                        <form class = "download_image_block" action="upload.php" method = "POST" enctype="multipart/form-data">
                            <input type = "file" name = "file" id = "file" data-multiple-caption = '{count} файлов выбрано' class = "inputfile" multiple />
                            <label  for = "file" >
                                <p>Загрузить фотографию </p>
                                <i class = "icon-download_arrow"></i>
                            </label>
                        </form>
                        </div>
                    </div>
                    <form class="input_area">
                        <div class="input_area__title">*- поле для обязательного заполнения</div>
                        <div class="input_area__flexed_input flex justify-content-between">
                            <div class="first">
                                <label for="surname" class = 'partfoli_change_label'>Фамилия*</label>
                                <input type="text" id = "surname" name="surname">
                            </div>
                            <div class="first">
                                <label for="mail" class = 'partfoli_change_label'>Почта*</label>
                                <input type="text" id = 'mail' name = "mail">
                            </div>
                        </div>
                        <div class="input_area__flexed_input flex justify-content-between">
                            <div class="first">
                                <label for="name" class = 'partfoli_change_label'>Имя*</label>
                                <input type="text" id = "name" name="name">
                            </div>
                            <div class="first">
                                <label for="contacts" class = 'partfoli_change_label'>Контакты (WhatsApp)*</label>
                                <input type="text" id = 'contacts' name = "contacts">
                            </div>
                        </div>
                        <div class="input_area__flexed_input flex justify-content-between">
                            <div class="first">
                                <label for="middle_name" class = 'partfoli_change_label'>Отчество</label>
                                <input type="text" id = "middle_name" name="middle_name">
                            </div>
                            <div class="first">
                                <label for="openning_hours" class = 'partfoli_change_label'>Часы работы*</label>
                                <input type="text" id = 'openning_hours' name = "openning_hours">
                            </div>
                        </div>
                        <div class="input_area__flexed_input flex justify-content-between">
                            <div class="first list_of_specialists listSpecializationSelect" id = "specializationSelect">
                            <label for="specialization" class = 'partfoli_change_label specialization_title'>Специализация*</label>
                                <ul class = "default_select" id = 'default_section_ul'>
                                    <li>Выбрать</li>
                                </ul>
                                <ul class = 'section_change'>
                                    <li class = "section_change__item">Дом
                                        <ul class = "sub_section">
                                            <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                            <li class = "sub_section__item">Разработка ПО</li>
                                            <li class = "sub_section__item">Внедрение 1C</li>
                                            <li class = "sub_section__item">Компьютерная помощь</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                        </ul>
                                    </li>
                                    <li class = "section_change__item">Интернет услуги
                                        <ul class = "sub_section">
                                            <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                            <li class = "sub_section__item">Разработка ПО</li>
                                            <li class = "sub_section__item">Внедрение 1C</li>
                                            <li class = "sub_section__item">Компьютерная помощь</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                        </ul>
                                    </li>
                                    <li class = "section_change__item">Образование
                                        <ul class = "sub_section">
                                            <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                            <li class = "sub_section__item">Разработка ПО</li>
                                            <li class = "sub_section__item">Внедрение 1C</li>
                                            <li class = "sub_section__item">Компьютерная помощь</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                        </ul>
                                    </li>
                                    <li class = "section_change__item">Красота и здоровье
                                        <ul class = "sub_section">
                                            <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                            <li class = "sub_section__item">Разработка ПО</li>
                                            <li class = "sub_section__item">Внедрение 1C</li>
                                            <li class = "sub_section__item">Компьютерная помощь</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                        </ul>
                                    </li>
                                    <li class = "section_change__item">Менеджмент
                                        <ul class = "sub_section">
                                            <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                            <li class = "sub_section__item">Разработка ПО</li>
                                            <li class = "sub_section__item">Внедрение 1C</li>
                                            <li class = "sub_section__item">Компьютерная помощь</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                        </ul>
                                    </li>
                                    <li class = "section_change__item">Автомобиль
                                        <ul class = "sub_section">
                                            <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                            <li class = "sub_section__item">Разработка ПО</li>
                                            <li class = "sub_section__item">Внедрение 1C</li>
                                            <li class = "sub_section__item">Компьютерная помощь</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                            <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                            <li class = "sub_section__item">Дизайн полиграфии</li>
                                            <li class = "sub_section__item">Печатные услуги</li>
                                            <li class = "sub_section__item">Копирайтинг</li>
                                            <li class = "sub_section__item">Создание презентации</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="first">
                                <label for="passport_data" class = 'partfoli_change_label'>Паспортные данные</label>
                                <input type="text" id = 'passport_data' name = "passport_data">
                            </div>
                        </div>
                        <div class="input_area__flexed_input flex justify-content-between">
                            <div class="half">
                                <div class="first list_of_specialists citySelectList" style = "padding-bottom:21px" id = "citySelect">
                                    <label for="specialization" class = 'partfoli_change_label specialization_title' >Город*</label>
                                    <ul class = "default_select">
                                        <li id = "default_city">Выбрать</li>
                                    </ul>
                                    <!-- <label for="city" class = 'partfoli_change_label'>Город*</label>
                                    <input type="text" id = "city" name="city"> -->
                                    <ul class="section_change cyties_scroll">
                                        <li class = "city_change section_change__item">Нур-Султан</li>
                                        <li class = "city_change section_change__item">Алматы</li>
                                        <li class = "city_change section_change__item">Шымкент</li>
                                        <li class = "city_change section_change__item">Актобе</li>
                                        <li class = "city_change section_change__item">Караганда</li>
                                        <li class = "city_change section_change__item">Тараз</li>
                                        <li class = "city_change section_change__item">Павлодар</li>
                                        <li class = "city_change section_change__item">Усть-Каменогорск</li>
                                        <li class = "city_change section_change__item">Семей</li>
                                        <li class = "city_change section_change__item">Атырау</li>
                                        <li class = "city_change section_change__item">Костанай</li>
                                        <li class = "city_change section_change__item">Кызылорда</li>
                                        <li class = "city_change section_change__item">Уральск</li>
                                        <li class = "city_change section_change__item">Петропавловск</li>
                                        <li class = "city_change section_change__item">Актау</li>
                                        <li class = "city_change section_change__item">Темиртау</li>
                                        <li class = "city_change section_change__item">Туркестан</li>
                                        <li class = "city_change section_change__item">Кокшетау</li>
                                        <li class = "city_change section_change__item">Талдыкорган</li>
                                        <li class = "city_change section_change__item">Экибастуз</li>
                                        <li class = "city_change section_change__item">Рудный</li>
                                    </ul>
                                </div>
                                <div class="first" style = "padding-top:20px;">
                                    <label for="price" class = 'partfoli_change_label'>Стоимость*</label>
                                    <input type="text" id = 'price' name = "price" maxlength="11">
                                </div>
                            </div>
                            <div class="first">
                                <label for="description" class = 'partfoli_change_label'>Описание</label>
                                <textarea type="text" id = 'description' name = "description" maxlength="256" placeholder="Максимально возможное количество символов - 256"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="partgolio_change">
                        <div class="partgolio_change__title">
                            Портфолио:
                        </div>
                        <div class="partgolio_change__images_partfolio flex">
                            <div class="img_preview">
                                <img src="/images/samples/avatar.jpg"/>
                            </div>
                            <img src="/images/samples/avatar.jpg"/>
                            <form class = "download_image_block" action="upload.php" method = "POST" enctype="multipart/form-data" style = 'margin-right:30px'>
                                <input type = "file" name = "file_portfolio" id = "file_portfolio"  class = "inputfile" multiple />
                                <label  for = "file_portfolio" >
                                    <p>Загрузить фотографию </p>
                                    <i class = "icon-download_arrow"></i>
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="partgolio_change">
                        <div class="partgolio_change__title">
                            Лицензии и сертификаты :
                        </div>
                        <div class="partgolio_change__images_partfolio flex">
                            <div class="img_preview">
                                <img src="/images/samples/avatar.jpg"/>
                            </div>
                            <img src="/images/samples/avatar.jpg"/>
                            <form class = "download_image_block" action="upload.php" method = "POST" enctype="multipart/form-data" style = 'margin-right:30px'>
                                <input type = "file" name = "file_license_first" id = "file_license_first"  class = "inputfile" / multiple>
                                <label  for = "file_license_first" >
                                    <p>Загрузить фотографию </p>
                                    <i class = "icon-download_arrow"></i>
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="btn_saveChange">
                        <button class = 'btn btn_saveChanges flex'>
                            <i class = "icon-checked_button"></i>
                            Сохранить редактирование
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="mob-my_partfolio">
        <!-- <div class="btns_my_port">
            <button class = 'btn btn_small' id = 'mob_cvs_btn'>Мои резюме</button>
            <button class = 'btn btn_small' id = 'mob_table_btn'>Дополнительные услуги</button>
        </div> -->
        <div class="my_cvs_mob">
            <!-- <div class="swiper-container workers_big_block"> -->
                <div class="flex justify-content-between align-items-center">
                    <div class="prev-big_block" id = 'prev-block_my_port'>
                        <!-- <img src="../images/samples/left_button_mob.png"/> -->
                        <span></span>
                    </div>
                    
                    <div class="cvs_number">Услуга №1</div>
                    <div class="next-big_block" id = 'next-block_my_port'>
                        <!-- <img src="../images/samples/rigth_button_mob.png"/> -->
                        <span></span>
                    </div>
                </div>
                
                <!-- <div class="swiper-wrapper"> -->
                    <div class="workers swiper-slide">
                        <div class="workers__first">
                            <!-- <div class="first_half flex justify-content-between">
                                <div class="vip_or_profi flex">
                                    <p>Vip</p>
                                    <img src="../images/samples/vip.png"/>
                                </div>
                                <div class="salary">
                                    125 000 тг
                                </div>
                            </div> -->
                            <!-- <div class="img_worker_avatar flex" style="background-image: url('../images/samples/avatar.jpg');"></div> -->
                            <form action="https://wa.me/77772281337" target="_blank"><button class = "btn btn_btnSmallMob center-button">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Написать в WhatsApp
                            </button></form> 
                        </div>
                        <div class="workers_second">
                            <div class="top-date">На сайте с 16 сентября 2019 года</div>
                            <div class="reviews_shows flex">
                                <div class="reviews flex">
                                    Отзывы:<span>824</span>
                                </div>
                                <div class="reviews flex">
                                    Просмотр:<span>824</span>
                                </div>
                            </div>
                            <div class="name">Александр Агафонов
                                Александрович</div>
                        </div>
                        <div class="worker_thierd">
                            <div class="questions_answears flex">
                                <div class="question">Специализация:</div>
                                <div class="anwear">Интернет услуги - Дизайн</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Часы работы:</div>
                                <div class="anwear">Будние: 9:00 - 18:00
                                    Выходные: 14:00 - 21:00</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Город:</div>
                                <div class="anwear">Алматы</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Сайт:</div>
                                <div class="anwear">Proff.kz</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Документ:</div>
                                <div class="anwear">08978567673</div>
                            </div>
                        </div>
                        <div class="workers_fifth">
                            <div class="top_title">
                                Описание:
                            </div>
                            <div class="info">
                                UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы. Более 900 проектов сделано.
                                Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
                            </div>
                        </div>
                        <div class="workers_sixth">
                            <div class="title">Дополнительная специализация:</div>
                            <div class="position">Разработка сайта / Дизайн логотипов / 3D дизайн</div>
                        </div>
                        <div class="workers_seventh">
                            <div class="title">Фото услуги:</div>
                            <div class="swiper-container mob-swiper_services">
                                <div class="swiper-wrapper">
                                      <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                </div>
                                <div class="arrows flex">
                                    <div class="left left_partfolio">
                                        <span class="figure_left"></span>
                                    </div>
                                    <div class="right right_partfolio">
                                        <span class="figure_right"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="workers_seventh">
                            <div class="title">Портфолио:</div>
                            <div class="swiper-container mob-swiper_partfolio">
                                <div class="swiper-wrapper">
                                      <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                </div>
                                <div class="arrows flex">
                                    <div class="left left_partfolio">
                                        <span class="figure_left"></span>
                                    </div>
                                    <div class="right right_partfolio">
                                        <span class="figure_right"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="workers_seventh">
                            <div class="title">Лицензии:</div>
                            <div class="swiper-container mob-swiper_license">
                                <div class="swiper-wrapper">
                                      <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                </div>
                                <div class="arrows flex">
                                    <div class="left left_license">
                                        <span class="figure_left"></span>
                                    </div>
                                    <div class="right right_license">
                                        <span class="figure_right"></span>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                    <div class="workers swiper-slide">
                        <div class="workers__first">
                            <div class="first_half flex justify-content-between">
                                <div class="vip_or_profi flex">
                                    <p>Vip</p>
                                    <img src="../images/samples/vip.png"/>
                                </div>
                                <div class="salary">
                                    125 000 тг
                                </div>
                            </div>
                            <div class="img_worker_avatar flex" style="background-image: url('../images/samples/avatar.jpg');"></div>
                        </div>
                        <div class="workers_second">
                            <div class="top-date">На сайте с 16 сентября 2019 года</div>
                            <div class="name">Александр Агафонов
                                Александрович</div>
                        </div>
                        <div class="worker_thierd">
                            <div class="questions_answears flex">
                                <div class="question">Специализация:</div>
                                <div class="anwear">Интернет услуги - Дизайн</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Часы работы:</div>
                                <div class="anwear">Будние: 9:00 - 18:00
                                    Выходные: 14:00 - 21:00</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Город:</div>
                                <div class="anwear">Алматы</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Сайт:</div>
                                <div class="anwear">Proff.kz</div>
                            </div>
                            <div class="questions_answears flex">
                                <div class="question">Документ:</div>
                                <div class="anwear">08978567673</div>
                            </div>
                            <div class="reviews_shows flex">
                                <div class="reviews flex">
                                    Отзывы:<span>824</span>
                                </div>
                                <div class="reviews flex">
                                    Просмотр:<span>824</span>
                                </div>
                            </div>	
                        </div>
                        <div class="workers_fourth">
                            <button class = "btn btn_btnSmallMob center-button">
                                <i class = "icon-mob_arrow_near_button"></i>
                                Написать в WhatsApp
                            </button>
                        </div>
                        <div class="workers_fifth">
                            <div class="top_title">
                                Описание:
                            </div>
                            <div class="info">
                                UI/UX Web дизайн. Дизайн мобильных приложений. Эмоциональный, продающий дизайн сайтов. 13 лет успешной работы. Более 900 проектов сделано.
                                Дизайн – первое, что видит ваш клиент на сайте. Именно дизайн делает простого посетителя вашим покупателем.
                            </div>
                        </div>
                        <div class="workers_sixth">
                            <div class="title">Дополнительная специализация:</div>
                            <div class="position">Разработка сайта / Дизайн логотипов / 3D дизайн</div>
                        </div>
                        <div class="workers_seventh">
                            <div class="title">Портфолио:</div>
                            <div class="swiper-container mob-swiper_partfolio">
                                <div class="swiper-wrapper">
                                      <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob">
                                        <img src="../images/samples/mob_avatar.png"/>
                                    </div>
                                </div>
                                <div class="arrows flex">
                                    <div class="left left_partfolio">
                                        <span class="figure_left"></span>
                                    </div>
                                    <div class="right right_partfolio">
                                        <span class="figure_right"></span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="workers_seventh">
                            <div class="title">Лицензии:</div>
                            <div class="swiper-container mob-swiper_license">
                                <div class="swiper-wrapper">
                                      <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                    <div class="swiper-slide images-swiper-mob-license">
                                        <img src="../images/samples/license_mob.png"/>
                                    </div>
                                </div>
                                <div class="arrows flex">
                                    <div class="left left_license">
                                        <span class="figure_left"></span>
                                    </div>
                                    <div class="right right_license">
                                        <span class="figure_right"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="table_mob_my_port">
            <div class="table">
                <table class = 'first_half'>
                    <tbody>
                        <tr>
                            <td class = 'thead_td'>Наименование</td>
                            <td class = 'tboby_td'>Статус VIP</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Период</td>
                            <td class = 'tboby_td'>1 месяц</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Сумма</td>
                            <td class = 'tboby_td'>10 000тг</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Описание</td>
                            <td class = 'tboby_td'></td>
                        </tr>
                    </tbody>
                </table>
                <table class = "end_table">
                    <tbody>
                        <tr>
                            <td class = 't_btn'><button class = "btn btn_small">Купить услугу</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table">
                <table class = 'first_half'>
                    <tbody>
                        <tr>
                            <td class = 'thead_td'>Наименование</td>
                            <td class = 'tboby_td'>Покраска объявления</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Период</td>
                            <td class = 'tboby_td'>1 месяц</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Сумма</td>
                            <td class = 'tboby_td'>10 000тг</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Описание</td>
                            <td class = 'tboby_td'></td>
                        </tr>
                    </tbody>
                </table>
                <table class = "end_table">
                    <tbody>
                        <tr>
                            <td class = 't_btn'><button class = "btn btn_small">Купить услугу</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table">
                <table class = 'first_half'>
                    <tbody>
                        <tr>
                            <td class = 'thead_td'>Наименование</td>
                            <td class = 'tboby_td'>Лицензии и сертификаты</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Период</td>
                            <td class = 'tboby_td'>1 месяц</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Сумма</td>
                            <td class = 'tboby_td'>10 000тг</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Описание</td>
                            <td class = 'tboby_td'></td>
                        </tr>
                    </tbody>
                </table>
                <table class = "end_table">
                    <tbody>
                        <tr>
                            <td class = 't_btn'><button class = "btn btn_small">Купить услугу</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table">
                <table class = 'first_half'>
                    <tbody>
                        <tr>
                            <td class = 'thead_td'>Наименование</td>
                            <td class = 'tboby_td'>Повтор объявления</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Период</td>
                            <td class = 'tboby_td'>1 месяц</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Сумма</td>
                            <td class = 'tboby_td'>10 000тг</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Описание</td>
                            <td class = 'tboby_td'></td>
                        </tr>
                    </tbody>
                </table>
                <table class = "end_table">
                    <tbody>
                        <tr>
                            <td class = 't_btn'><button class = "btn btn_small">Купить услугу</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table">
                <table class = 'first_half'>
                    <tbody>
                        <tr>
                            <td class = 'thead_td'>Наименование</td>
                            <td class = 'tboby_td'>Добавить дополнительное место для портфолио</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Период</td>
                            <td class = 'tboby_td'>1 месяц</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Сумма</td>
                            <td class = 'tboby_td'>10 000тг</td>
                        </tr>
                        <tr>
                            <td class = 'thead_td' >Описание</td>
                            <td class = 'tboby_td'></td>
                        </tr>
                    </tbody>
                </table>
                <table class = "end_table">
                    <tbody>
                        <tr>
                            <td class = 't_btn'><button class = "btn btn_small">Купить услугу</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="change_page_mob">
            <div class="title">
                Редактировать резюме 
            </div>
            <div class="change_img_border">
                <div class="arrows_mob flex">
                    <div class="left " id = "mob_left_myPart">
                        <span class = "figure_left"></span>
                    </div>
                    <div class="right" id = 'mob_right_myPart'>
                        <span class="figure_right"></span>
                    </div>
                </div>
                <div class="images_mob_change swiper-container flex " id = "swiper_mob_change_photo">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/images/samples/avatar.jpg" data-fancybox="gallery-5"><img src="/images/samples/avatar.jpg" /></a>
                            <p class = "do_main_img">Сделать основным</p>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/samples/avatar.jpg" data-fancybox="gallery-5"><img src="/images/samples/avatar.jpg" /></a>
                            <p class = "do_main_img">Сделать основным</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title_and_arrow flex">
                <div class="title">*- поле для обязательного заполнения</div>
            </div>
            <form class=" mob_inputs_change">
                <label for="mob_sname_change">Фамилия*</label>
                <input type="text" id = "mob_sname_change" name = "mob_sname_change">
                <label for="mob_name_change">Имя*</label>
                <input type="text" id = "mob_name_change" name = "mob_name_change">
                <label for="mob_fname_change">Отчество</label>
                <input type="text" id = "mob_fname_change" name = "mob_fname_change">
                <div class="first list_of_specialists">
                    <label for="specialization" class = 'partfoli_change_label specialization_title'>Специализация*</label>
                    <ul class = "default_select" id = 'default_section_ul_mob'>
                        <li>Выбрать</li>
                    </ul>
                    <ul class = 'section_change'>
                        <li class = "section_change__item">Дом
                            <ul class = "sub_section">
                                <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                <li class = "sub_section__item">Разработка ПО</li>
                                <li class = "sub_section__item">Внедрение 1C</li>
                                <li class = "sub_section__item">Компьютерная помощь</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                            </ul>
                        </li>
                        <li class = "section_change__item">Интернет услуги
                            <ul class = "sub_section">
                                <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                <li class = "sub_section__item">Разработка ПО</li>
                                <li class = "sub_section__item">Внедрение 1C</li>
                                <li class = "sub_section__item">Компьютерная помощь</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                            </ul>
                        </li>
                        <li class = "section_change__item">Образование
                            <ul class = "sub_section">
                                <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                <li class = "sub_section__item">Разработка ПО</li>
                                <li class = "sub_section__item">Внедрение 1C</li>
                                <li class = "sub_section__item">Компьютерная помощь</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                            </ul>
                        </li>
                        <li class = "section_change__item">Красота и здоровье
                            <ul class = "sub_section">
                                <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                <li class = "sub_section__item">Разработка ПО</li>
                                <li class = "sub_section__item">Внедрение 1C</li>
                                <li class = "sub_section__item">Компьютерная помощь</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                            </ul>
                        </li>
                        <li class = "section_change__item">Менеджмент
                            <ul class = "sub_section">
                                <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                <li class = "sub_section__item">Разработка ПО</li>
                                <li class = "sub_section__item">Внедрение 1C</li>
                                <li class = "sub_section__item">Компьютерная помощь</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                            </ul>
                        </li>
                        <li class = "section_change__item">Автомобиль
                            <ul class = "sub_section">
                                <li class = "sub_section__item">Разработка сайтов и приложении</li>
                                <li class = "sub_section__item">Разработка ПО</li>
                                <li class = "sub_section__item">Внедрение 1C</li>
                                <li class = "sub_section__item">Компьютерная помощь</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                                <li class = "sub_section__item">Рисунки и иллюстрации</li>
                                <li class = "sub_section__item">Дизайн полиграфии</li>
                                <li class = "sub_section__item">Печатные услуги</li>
                                <li class = "sub_section__item">Копирайтинг</li>
                                <li class = "sub_section__item">Создание презентации</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="first">
                    <label for="passport_data_mob" class = 'partfoli_change_label'>Паспортные данные</label>
                    <input type="text" id = 'passport_data_mob' name = "passport_data_mob">
                </div>
                <div class="input_area__flexed_input">
                    <div class="half">
                        <div class="first list_of_specialists" style = "padding-bottom:21px">
                            <label for="specialization" class = 'partfoli_change_label specialization_title'>Город*</label>
                            <ul class = "default_select">
                                <li id = "default_city_mob">Выбрать</li>
                            </ul>
                            <ul class="section_change cyties_scroll">
                                <li class = "city_change section_change__item">Нур-Султан</li>
                                <li class = "city_change section_change__item">Алматы</li>
                                <li class = "city_change section_change__item">Шымкент</li>
                                <li class = "city_change section_change__item">Актобе</li>
                                <li class = "city_change section_change__item">Караганда</li>
                                <li class = "city_change section_change__item">Тараз</li>
                                <li class = "city_change section_change__item">Павлодар</li>
                                <li class = "city_change section_change__item">Усть-Каменогорск</li>
                                <li class = "city_change section_change__item">Семей</li>
                                <li class = "city_change section_change__item">Атырау</li>
                                <li class = "city_change section_change__item">Костанай</li>
                                <li class = "city_change section_change__item">Кызылорда</li>
                                <li class = "city_change section_change__item">Уральск</li>
                                <li class = "city_change section_change__item">Петропавловск</li>
                                <li class = "city_change section_change__item">Актау</li>
                                <li class = "city_change section_change__item">Темиртау</li>
                                <li class = "city_change section_change__item">Туркестан</li>
                                <li class = "city_change section_change__item">Кокшетау</li>
                                <li class = "city_change section_change__item">Талдыкорган</li>
                                <li class = "city_change section_change__item">Экибастуз</li>
                                <li class = "city_change section_change__item">Рудный</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <label for="mob_price_change">Стоимость*</label>
                <input type="text" id = "mob_price_change" name = "mob_price_change" maxlength="11">
                <label for="mob_email_change">Почта*</label>
                <input type="text" id = "mob_email_change" name = "mob_email_change">
                <label for="mob_phone_change">Контакты (WhatsApp)*</label>
                <input type="text" id = "mob_phone_change" name = "mob_phone_change">
                <label for="mob_work_hour_change">Часы работы*</label>
                <input type="text" id = "mob_work_hour_change" name = "mob_work_hour_change">
                <label for="mob__details_change">Описание</label>
                <textarea name="mob__details_change" id="mob__details_change" maxlength="256" placeholder="Максимально возможное количество символов - 256"></textarea>
            </form>
            <div class = "flex justify-content-center button_saveMob">
                <button class = 'btn btn_saveChangesMob'>
                    <i class = "icon-checked_button"></i>
                    Сохранить редактирование
                </button>
            </div>
        </div>
        <div class="add_cvs_change_pass_mob  flex justify-content-between">
            <button class = "btn btn_mobIconPart flex" id = 'add_cv'>
                <i class = "icon-plusik"></i>
                Добавить резюме
            </button>
            <button class = "btn btn_mobIconPart flex" data-toggle="modal" data-target="#changePassword" data-backdrop="false">
                <i class = "icon-lock"></i>
                Изменить пароль
            </button>
        </div>
    </div>
    <div class="modal" id="changePassword" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role = 'document' id ="changePasswordModal">
            <!-- Modal content-->
            <div class="modal-content smallModalContent">
                <div class="modal-header flex">
                    <div class="title">Изменить пароль </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class = "icon-close_modal-ico close" aria-hidden="true"></i>
                    </button>
                    
                </div>
                <div class="modal-body smallModal changePassModalBody">
                    <label for='currentPassword'>Введите текущий пароль</label>
                    <input type="text" id = 'currentPassword' name = 'currentPassword'>
                    <label for="new_password">Введите новый пароль:</label>
                    <input type="text" id = 'new_password' name = 'new_password'>
                    <label for="repeat_password">Повторите новый пароль </label>
                    <input type="text" id = 'repeat_password' name = 'repeat_password'>
                    <button class = 'btn btn_btnEnterModal flex'>Подать объявление </button>
                </div>
            </div>
        </div>
    </div>      
</div>
{% endblock %}

