<!-- build:css css/vendor.min.css -->

<!-- endbuild -->
<!-- build:css css/app.min.css -->
<link rel="stylesheet" href="styles/components/bootstrap.min.css" />
<link rel="stylesheet" href="styles/components/swiper.min.css" />
<link rel="stylesheet" href="styles/components/select2.min.css" />
<link rel="stylesheet" href="styles/components/jquery.fancybox.min.css" />
<link rel="stylesheet" href="styles/main.css" />


<!-- endbuild -->