	<!-- .footer -->
	<div class="services-item">
		<div class="services_items-mob">
			<div class="menu__close">
				<span class="menu__close_btn"><svg xmlns="http://www.w3.org/2000/svg" width="124" height="21" viewBox="0 0 124 21"><g><g><path d="M.477 8.796h107.895c-2.143-3.253-3.21-5.374-3.32-8.266 4.875 4.985 11.212 7.581 18.87 10.024-7.658 2.337-13.716 5.191-18.87 10.027.329-3.144 1.218-5.042 3.386-8.5H.477z"/></g></g></svg>Закрыть услуги</span>
			</div>
				<div class="low-item">
					<div class="low-item_search">
						<ul class="low-item_search_list">
							<li class="low-item_search_img"><img src="/images/samples/home.png" alt="#"></li>
							<li class="title">Дом</li>
							<li class="low-item_search_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
						</ul>
						<ul class="low-item_search_menu">
							<li class="low-item_search_menu_item">Строительство</li>
							<li class="low-item_search_menu_item">Отделочные работы</li>
							<li class="low-item_search_menu_item">Мебельные работы</li>
							<li class="low-item_search_menu_item">Услуги швеи</li>
							<li class="low-item_search_menu_item">Услуги повара</li>
							<li class="low-item_search_menu_item">Услуги сиделки</li>
							<li class="low-item_search_menu_item">Ремонты</li>
							<li class="low-item_search_menu_item">Сад и огород</li>   
							<li class="low-item_search_menu_item">Домашний мастер</li>
							<li class="low-item_search_menu_item">Клининговые услуги</li>
						</ul>
					</div>
				</div>
				<div class="low-item">
					<div class="low-item_search">
						<ul class="low-item_search_list">
							<li class="low-item_search_img"><img src="/images/samples/heart.png" alt="#"></li>
							<li class="title">Красота и здоровье</li>
							<li class="low-item_search_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
						</ul>
						<ul class="low-item_search_menu">
							<li class="low-item_search_menu_item">Медецина</li>
							<li class="low-item_search_menu_item">Массаж</li>
							<li class="low-item_search_menu_item">Косметоология</li>
							<li class="low-item_search_menu_item">Парикмахерские услуги</li>
							<li class="low-item_search_menu_item">Услуга визажиста</li>
							<li class="low-item_search_menu_item">Уход за ногтями</li>
							<li class="low-item_search_menu_item">Уход за ресницами</li>
							<li class="low-item_search_menu_item">Уход за бровями</li>
						</ul>
					</div>
				</div><div class="low-item">
					<div class="low-item_search">
						<ul class="low-item_search_list">
							<li class="low-item_search_img"><img src="/images/samples/internet.png" alt="#"></li>
							<li class="title">Интернет услуги</li>
							<li class="low-item_search_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
						</ul>
						<ul class="low-item_search_menu">
							<li class="low-item_search_menu_item">Разработка сайтов и приложений</li>
							<li class="low-item_search_menu_item">Разработка ПО</li>
							<li class="low-item_search_menu_item">Внедрение 1С</li>
							<li class="low-item_search_menu_item">Компьютерная помощь</li>
							<li class="low-item_search_menu_item">Рисунки и иллюстрации</li>  
							<li class="low-item_search_menu_item">Дизайн полиграфии</li>
							<li class="low-item_search_menu_item">Печатные услуги</li>
							<li class="low-item_search_menu_item">Копирайтинг</li>
							<li class="low-item_search_menu_item">Создание презентации</li>
						</ul>
					</div>
				</div><div class="low-item">
					<div class="low-item_search">
						<ul class="low-item_search_list">
							<li class="low-item_search_img"><img src="/images/samples/management.png" alt="#"></li>
							<li class="title">Менеджмент</li>
							<li class="low-item_search_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
						</ul>
						<ul class="low-item_search_menu">
							<li class="low-item_search_menu_item">Управление проектами</li>
							<li class="low-item_search_menu_item">Маркетинг и реклама</li>
							<li class="low-item_search_menu_item">Кадровые услуги</li>
							<li class="low-item_search_menu_item">Бухгалтерские услуги</li>
							<li class="low-item_search_menu_item">Юридические услуги </li>
							<li class="low-item_search_menu_item">Финансовые услуги</li>
							<li class="low-item_search_menu_item">Консалтинговые услуги</li>
							<li class="low-item_search_menu_item">Услуги безопасности</li>
						</ul>
					</div>
				</div><div class="low-item">
					<div class="low-item_search">
						<ul class="low-item_search_list">
							<li class="low-item_search_img"><img src="/images/samples/education.png" alt="#"></li>
							<li class="title">Образование</li>
							<li class="low-item_search_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
						</ul>
						<ul class="low-item_search_menu">
							<li class="low-item_search_menu_item">Репетиторство</li>
							<li class="low-item_search_menu_item">Автоинструкторы</li>
							<li class="low-item_search_menu_item">Проеподователи музыки</li>
							<li class="low-item_search_menu_item">Хореография</li>
							<li class="low-item_search_menu_item">Услуги переводчика</li>
							<li class="low-item_search_menu_item">Написание работ: рефераты, курсовые, дипломные</li>
							<li class="low-item_search_menu_item">Сад и огород</li>
							<li class="low-item_search_menu_item">Домашний мастер</li>
							<li class="low-item_search_menu_item">Клининговые услуги</li>
						</ul>
					</div>
				</div><div class="low-item">
					<div class="low-item_search">
						<ul class="low-item_search_list">
							<li class="low-item_search_img"><img src="/images/samples/car.png" alt="#"></li>
							<li class="title">Автомобиль</li>
							<li class="low-item_search_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><g><g><path id="arrow" fill="#92abb4" d="M16.894 29.5a1.823 1.823 0 0 1 3.113-1.29l7.669 7.67V19.814a1.824 1.824 0 0 1 3.647 0v16.064l7.669-7.668a1.823 1.823 0 1 1 2.578 2.578L29.5 42.861 17.428 30.79a1.817 1.817 0 0 1-.534-1.29zm-16.902 0C-.008 13.229 13.23-.008 29.5-.008S59.008 13.23 59.008 29.5c0 16.27-13.237 29.508-29.508 29.508C13.23 59.008-.008 45.77-.008 29.5zm55.369 0C55.36 15.24 43.76 3.64 29.5 3.64S3.64 15.24 3.64 29.5s11.6 25.86 25.86 25.86 25.86-11.6 25.86-25.86z"/></g></g></svg></li>
						</ul>
						<ul class="low-item_search_menu">
							<li class="low-item_search_menu_item">Курьерские услуги</li>
							<li class="low-item_search_menu_item">Автострахование</li>
							<li class="low-item_search_menu_item">Ремонт авто</li>
							<li class="low-item_search_menu_item">Шиномонтаж</li>
							<li class="low-item_search_menu_item">Кузовные работы</li>
							<li class="low-item_search_menu_item">Автомойка</li>
							<li class="low-item_search_menu_item">Ремонт и замена автостекла</li>
							<li class="low-item_search_menu_item">Автоэлектрика</li>
							<li class="low-item_search_menu_item">Техническое обслуживание и диагностика</li>
							<li class="low-item_search_menu_item">Уход за салоном</li>
						</ul>
					</div>
				</div>
		</div>
	</div>
	<footer class="footer">	
		<!-- <div class="blue"></div> -->
		<div class="flex center space_between web-footer">
			<div class="container space_between flex">
				<div class="footer-left flex">
					<div class="logo_footer upper">
						<a class = "logo_footer__a" href = "index.html">Мои услуги</a>
					</div>
					<div class="contacts">
						<p>Служба поддержки</p>
						<a href="tel:88003334545">8 800 333-45-45</a>
					</div>
					<div class="contacts">
						<p>E-mail</p>
						<a href="tel:88003334545">8 800 333-45-45</a>
					</div>
					<div class="schedulle">
						<p>Пн-Пт: <span>с 06:00 до 22:00</span></p>
						<p>Сб-Вс: <span>с 06:00 до 22:00</span></p>
					</div>
				</div>
				<div class="logo_maint footer_right">
					<a href = "https://maint.kz"><img class="logo_maint__img" src = "/images/samples/logo_maint.png"/></a>
				</div>
			</div>
		</div>
		
		<div class="footer_mob flex justify-content-between">
			<div class="footer_mob__left flex">
				<i class = "icon-layers_footer"></i>
				<p class = "footer_menu">услуги</p>
			</div>
			<!-- <div class = "circle_search">
			</div> -->
			<div class = "footer_mob__right circle_search flex">
				<i class = "icon-lense_footer-ico"></i>
				<p class = "footer_menu">поиск</p>
			</div>
		</div>
	</footer><!-- end .footer -->
	<div class="container">
		<div class="mob-search">
			<div class="title-close-mob flex">
				Закрыть поиск
			</div>
			<div class="forms">
				<label for="parts">Разделы</label>
				<div class="select-mob">
					<select class="menu-items_parts">
						<option selected="" disabled=""></option>
						<option value="0">Дом</option>
						<option value="1">Интернет услуги</option>
						<option value="2">Образование</option>
						<option value="3">Красота и здоровье</option>
						<option value="4">Менеджмент</option>
						<option value="5">Автомобиль</option>
					</select>
				</div>
				<label for="parts">Города</label>
				<div class="select-mob">
					<select class="menu-items_parts">
						<option selected="" disabled=""></option>
							<option value="0">Нур-Султан</option>
							<option value="1">Алматы</option>
							<option value="2">Шымкент</option>
							<option value="3">Актобе</option>
							<option value="4">Караганда</option>
							<option value="5">Тараз</option>
							<option value="6">Павлодар</option>
							<option value="7">Усть-Каменогорск</option>
							<option value="8">Семей</option>
							<option value="9">Атырау</option>
							<option value="10">Костанай</option>
							<option value="11">Кызылорда</option>
							<option value="12">Уральск</option>
							<option value="13">Петропавловск</option>
							<option value="14">Актау</option>
							<option value="15">Темиртау</option>
							<option value="16">Туркестан</option>
							<option value="17">Кокшетау</option>
							<option value="18">Талдыкорган</option>
					</select>
				</div>
				<label for="search">Поиск</label>
				<input type="text"></input>
				<div class="btn-search">
					<button class = "btn btn_searchBtn">Искать</button>
				</div>
			</div>
		</div>
	</div>
	