<!-- .header -->
<div class="loader_bg">
	<div class="loader">
		<div class="cssload-loader">МОИ УСЛУГИ</div>
	</div>
</div>
<header class="header">
	<div class="white-block-header">
		<div class="container">
			<div class="flex justify-content-between header_information">
				<a href = "index.html" class="logo">МОИ УСЛУГИ</a>
				<div class = 'search_header flex' id = 'header_searcher'>
					<input type="text" placeholder="Поиск" name = "search" class = 'search_input' list = 'datalist1'>
					<datalist id ="datalist1">
						<option value="Дом"></option>
						<option value="Интернет услуги"></option>
						<option value="Красота и здоровье"></option>
						<option value="Образование"></option>
						<option value="Менеджмент"></option>   
					</datalist>
					<button onclick="location.href='all_services.html'" class = "btn btn_headerSearchBtn btn_shadow serarch_btn_header">Искать</button>
				</div>
				<div class="header__buttons flex">
					<div class = "header_btn_web flex justify-content-between">
						<button class="btn btn_small btn_blue"  data-toggle="modal" data-target="#myModal" data-backdrop="false">Вход </button>
						  
					</div>
					<div class="header_btn_mob  justify-content-between">
						<i class="icon-account"></i>
						<a href="#">мой профиль</a>
						<span class = "circle" id = "signInModalMob"   data-toggle="modal" data-target="#myModal" data-backdrop="false"></span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
  
  <!-- Modal -->
  	<div class="modal" id="myModal" role="dialog" aria-labelledby="myModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role = 'document' id ="signInModal">
			<!-- Modal content-->
			<div class="modal-content" id = 'signInContent'>
				<div class="modal-header flex">
					<div class="title">Войти</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class = "icon-close_modal-ico close" aria-hidden="true"></i>
					</button>
					
				</div>
				<div class="modal-body smallModal">
					<p>Пожалуйста, введите свои данные, чтобы зарегистрироваться.</p>
					<form action="">
						<label for="modal-email">E-mail:</label>
						<input class = 'bigInputType' type="text" id = 'modal-email' name = 'modal-email'>
						<span class = "error_word">Error</span>
						<label for="password">Пароль:</label>
						<input class = 'bigInputType' type="password" id = 'password' name = 'password'>
						<span class = "error_word">Error</span>
						<div class="link-on-sign-in-modal flex">
							<a href="#" data-dismiss = 'modal' id = "passwordLink" data-toggle="modal" data-target="#passwordModal" data-backdrop="false">Забыли пароль? </a>
							<a href="#" data-dismiss = 'modal' id = 'linkSignUp' data-toggle="modal" data-target="#signUpModal" data-backdrop="false">Зарегистрироваться</a>
						</div>
						<button class = 'btn btn_btnEnterModal flex'>Войти</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="passwordModal" role="dialog" aria-labelledby="passwordModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role = 'document' id ="passwordDiolagModal">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header flex">
					<div class="title">Забыли пароль?</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class = "icon-close_modal-ico close" aria-hidden="true"></i>
					</button>
					
				</div>
				<div>
					<div class="modal-body smallModalPassword">
						<p>Пожалуйста, введите свои данные, чтобы зарегистрироваться.</p>
						<form action="">
							<label for="modal-email-password">E-mail:</label>
							<input class = 'bigInputType' type="text" id = 'modal-email-password' name = 'modal-email-password'>
							<span class = "error_word">Error</span>
							<button class = 'btn btn_btnEnterModal flex'>Отправить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	  <div class="modal" id="signUpModal" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role = 'document' id="diologSignUp">
			<div class="modal-content" id = 'bigModalContent'>
				<div class="modal-header flex">
					<div class="title">Регистрация</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class = "icon-close_modal-ico close" aria-hidden="true"></i>
					</button>
					
				</div>
				<div>
					<div class="modal-body bigModal">
						<p>Пожалуйста, введите свои данные, чтобы зарегистрироваться.</p>
						<form action="">
							<div class="flex inputs_signUp justify-content-between">
								<div class = 'flexed_first'>
									<label for="name_signUp">Имя:</label>
									<input  type="text" id = 'name_signUp' name = 'name_signUp'>
									<span class = "error_word">Error</span>
								</div>
								<div class = 'flexed_first'>
									<label for="email_signUp">E-mail:</label>
									<input type="text" id = 'email_signUp' name = 'email_signUp'>
									<span class = "error_word">Error</span>
								</div>
							</div>
							<div class="flex inputs_signUp justify-content-between">
								<div class = 'flexed_first'>
									<label for="sname_signUp">Фамилия:</label>
									<input type="text" id = 'sname_signUp' name = 'sname_signUp'>
									<span class = "error_word">Error</span>
								</div>
								<div class = 'flexed_first'>
									<label for="phone_signUp">Телефон:</label>
									<input type="text" id = 'phone_signUp' name = 'phone_signUp' placeholder="+7(707) 777 55 66">
									<span class = "error_word">Error</span>
								</div> 
							</div>
							<div class="flex inputs_signUp justify-content-between">
								<div class = 'flexed_first'>
									<label for="fname_signUp">Отчество:</label>
									<input type="text" id = 'fname_signUp' name = 'fname_signUp'>
									<span class = "error_word">Error</span>
								</div>
								<div class = 'flexed_first'>
									<label for="password_signUp">Пароль:</label>
									<input type="password" id = 'password_signUp' name = 'password_signUp'>
									<span class = "error_word">Error</span>
								</div>
							</div>
							<div class="flex inputs_signUp justify-content-between">
								<div class = 'flexed_first'>
									<label for="pasport_signUp">Документ:</label>
									<input type="text" id = 'pasport_signUp' name = 'pasport_signUp'>
									<span class = "error_word">Error</span>
								</div>
								<div class = 'flexed_first' style="width: 100%;">
									<div class = "download_image_modal">
										<input type = "file" name = "file_img_modal" id = "file_img_modal" data-multiple-caption = '{count} файлов выбрано' class = "inputfile" />
										<label  for = "file_img_modal" >
											<p>Загрузить фотографию </p>
											<i class = "icon-download_arrow"></i>
										</label>
									</div>
								</div>
							</div>
						</form>
						<button class = 'btn btn_btnEnterModal flex' style="margin-top: 10px;">Зарегистрироваться </button>
					</div>
				</div>
			</div>
		</div>
 	 </div>
</header><!-- end .header -->
