<!-- build:js js/vendor.min.js -->

<!-- endbuild -->

<!-- build:js js/app.min.js -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/swiper.min.js"></script>
<script src="scripts/select2.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/jquery.fancybox.min.js"></script>
<!-- <script src="scripts/inputmask.min.js"></script> -->
<script src="/node_modules/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="scripts/app.js"></script>




<!-- endbuild -->