{% macro menuItem(item, namespace, level) %}
<li{%if item.namespace == namespace %} class="active"{% endif %}>
    <a href="{{item.url}}">
        {{ item.name }}
        {% if item.items %}
        <ul class="dropdown-menu dropdown-level-{{level}}">
            {% for item in item.items %}
            {{ menuItem(item) }}
            {% endfor %}
        </ul>
        {% endif %}
    </a>
</li>
{% endmacro %}