$btn-font-size: $font-size-base !default;
$btn-line-height: $font-size-base !default;
$btn-box-shadow: inset 0 3px 5px rgba(black,.125);
$btn-disabled-opacity: .65;
$btn-border-width: 1px !default;
// *************************************************************************

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: $btn-border-width solid transparent;
	white-space: nowrap;
	font-size: $btn-font-size;
	line-height: $btn-line-height;
	user-select: none;
	transition-property: box-shadow, background-color;
	transition-duration: .2s;
	outline: none !important;
	text-decoration: none !important;
	// padding: 10px 26px;
	border: 1px solid #c8d400;
	border-radius: 3px;
	font-family: "PSemiBold";
	background-color: white;
	&:active,
	&.active {
		box-shadow: $btn-box-shadow;
	}
	&_headerSearchBtn{
		padding: 0.6rem 0.95rem;
	}
	&_large{
		padding:16px 28px;
	}
	&_mobIconPart{
		color: #34393e;
		font-family: "PSemiBold";
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 0.25px;
		padding: 6px 10px;
		align-items: center;
		border-radius: 3px;
		border: 1px solid #c8d400;
		outline:none;
		&:hover{
			background-color: #c8d400;
		}
		i{
			color: #c8d400;
			margin-right: 5px;
		}
		&:hover i{
			color:white;
		}
	}
	&_small{
		padding: 8px 24px;
		font-size: 12px;
		background-color: white;
		@include fluidPaddingLeft(10px,24px,1024px,1625px);
		@include fluidPaddingRight(10px,24px,1024px,1625px);
		@include fluidPaddingBottom(6px,8px,1024px,1625px);
		@include fluidPaddingTop(6px,8px,1024px,1625px);
		a{
			color: black;
		}
		&:hover{
			background-color: #c8d400;
		}
	}
	&_shadow{
		box-shadow: 0 0 27px rgba(247, 255, 106, 0.72);
        border: 1px solid #f2ff18;
        background-color: #c8d400;
	}
	&_btnEnterModal{
		font-family: "PRegular";
		font-size: 12px;
		font-weight: 400;
		padding: 9px 55px 11px 60px;
		border-radius: 3px;
		margin: auto;
		&:hover{
			background-color: #c8d400;
		}
	}
	&_smallWord{
		font-size: 12px;
		padding: 9px 55px;
	}
	&_smallOnFilter{
		padding: 9px 22px;
		@include fluidPaddingLeft(10px,22px,1024px,1920px);
		@include fluidPaddingRight(10px,22px,1024px,1920px);
		@include fluidPaddingBottom(4px,9px,1024px,1920px);
		@include fluidPaddingTop(4px,9px,1024px,1920px);
		font-family: "PSemiBold";
		font-size: 10px;
		&:hover{
			background-color: #c8d400;
		}
	}
	&_download{
		box-shadow: 0 0 13px rgba(52, 57, 62, 0.29);
		border-radius: 18px;
		border: 2px solid #ffffff;
		background-color: #87adb6;
		padding: 10px 18px;
		font-family: "MSCyrl500";
		font-size: 13px;
		font-weight: 400;
		display: flex;
		justify-content: center;
		margin: auto;
		margin-top: 20px;
	}
	&_writeWhatssap{
		padding: 10px 19px;
		font-size: 12px;
		&:hover{
			background-color: #c8d400;
		}
	}
	&_details{
		padding: 9px 48px;
		font-size: 12px;
		&:hover{
			background-color: #c8d400;
		}
	}
	&_btnWithIcon{
		padding:9px 14px 9px 5px;
		border-radius: 3px;
		@include fluidPaddingLeft(2px,14px,1024px,1625px);
		@include fluidPaddingRight(2px,5px,1024px,1625px);
		@include fluidPaddingBottom(3px,9px,1024px,1625px);
		@include fluidPaddingTop(3px,9px,1024px,1625px);
	}
	&_btnChangeIcon{
		padding: 7px 21px 7px 7px;
		color: #34393e;
		font-family: "PSemiBold";
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 0.25px;
		align-items: center;
	}
	&_btnMob{
		padding: 9px 34px 9px 0;
		padding: 6px 3px 6px 0;
		@include fluidPaddingRight(3px,34px,320px,992px);
		@include fluidPaddingBottom(6px,9px,320px,992px);
		@include fluidPaddingTop(6px,9px,320px,992px);
	}
	&_btnSmallMob{
		padding: 8px 10px 8px 0;
		@include fluidPaddingRight(2px,10px,320px,992px);
		@include fluidPaddingTop(6px,8px,320px,992px);	
		@include fluidPaddingBottom(6px,8px,320px,992px);
		&:hover .icon-mob_arrow_near_button{
			color: white !important;
		}
	}
	&_filterBtn{
		padding: 21px 60px 21px 43px;
		@include fluidPaddingBottom(16px,21px,320px,768px);
		@include fluidPaddingTop(16px,21px,320px,768px);
		@include fluidPaddingLeft(20px,43px,320px,768px);
		@include fluidPaddingRight(20px,60px,320px,768px);
		font-family: "PRegular";
		font-size: 18px;
		@include fluidFontSize(14px,18px,320px,768px);
		font-weight: 400;
		text-transform: uppercase;
		box-shadow: 0 0 27px rgba(249, 255, 117, 0.72);
		border-radius: 10px;
		border: 1px solid #f6ff41;
		background-color: #cad331;
	}
	&_btnFilter{
		padding: 21px 50px;
		color: #000000;
		font-family: "PRegular";
		font-size: 18px;
		font-weight: 400;
		box-shadow: 0 0 27px rgba(249, 255, 117, 0.72);
		border-radius: 10px;
		border: 1px solid #f6ff41;
		background-color: #cad331;
		@include fluidPaddingLeft(25px,50px,320px,992px);
		@include fluidPaddingRight(25px,50px,320px,992px);
		@include fluidPaddingBottom(15px,21px,320px,992px);
		@include fluidPaddingTop(15px,21px,320px,992px);
	}
	&_table{
		padding: 5px 20px;
		color: #000000;
		font-family: "PRegular";
		font-size: 15px;
		font-weight: 400;
		border: 1px solid #f6ff41;
		&:hover{
			background-color: #cad331;
			box-shadow: 0 0 27px rgba(249, 255, 117, 0.72);
		}
	}
	&_searchBtn{
		padding: 17px 80px;
		color: #000000;
		font-family: "PRegular";
		font-size: 25px;
		@include fluidFontSize(18px,25px,320px,768px);
		font-weight: 400;
		box-shadow: 0 0 27px rgba(249, 255, 117, 0.72);
		border-radius: 10px;
		border: 1px solid #f6ff41;
		background-color: #cad331;
		@include fluidPaddingLeft(50px,80px,320px,992px);
		@include fluidPaddingRight(50px,80px,320px,992px);
		@include fluidPaddingBottom(11px,27px,320px,992px);
		@include fluidPaddingTop(11px,27px,320px,992px);
	}
	&_saveChanges{
		border-radius: 3px;
		border: 1px solid #c8d400;
		background-color: #ffffff;
		color: #34393e;
		font-family: "PSemiBold";
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 0.25px;
		padding: 8px 15px 8px 9px;
		&:hover{
			background-color: #c8d400;
		  }
		// @include fluidPaddingLeft(9px,9px,320px,992px);
		// @include fluidPaddingRight(px,15px,320px,992px);
		// @include fluidPaddingBottom(11px,8px,320px,992px);
		// @include fluidPaddingTop(11px,8px,320px,992px);
	}

	&_writeReviewMob{
		padding: 8px 46px 8px 0;
		@include fluidPaddingRight(40px,46px,320px,768px);
		@include fluidPaddingTop(6px,8px,320px,992px);	
		@include fluidPaddingBottom(6px,8px,320px,992px);
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		opacity: $btn-disabled-opacity;
		box-shadow: none;
	}

}

a.btn {
	&.disabled,
	fieldset[disabled] & {
		pointer-events: none;
	}
}

.btn-block {
	display: block;
	width: 100%;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn-block {
		width: 100%;
	}
}

.worker_cards{
  position: relative;
  
  &::after{
    content: '';
    position: absolute;
    height: 859px;
    background-color: #f7f6f6;
    //background-color: green;
    left: -100%;
    right: -100%;
    top: -90px;
    bottom: 0;
    transform: skew(30deg, -3deg);
    z-index: -1;
  }
}
