// Using @font-face
// Just only three file formats required
// no need to include files with svg or eot extensions
// With these three formats we have pretty good browsers support e.g.
// Chrome 3.5+, Safari 3+, Firefox 3.5+, Opera 10.1+, IE9+, Android 2.2+, iOS 4.3+

// @font-face {
//   font-family: "PT Sans";
//   src:
//     inline("#{$path-fonts}/pt_sans-web-regular-webfont.woff2") format("woff2"),
//     inline("#{$path-fonts}/pt_sans-web-regular-webfont.woff") format("woff");
//     // inline("#{$path-fonts}/pt_sans-web-regular-webfont.ttf")  format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }


@font-face {
    font-family: 'MSCyrl700';
    src: url('#{$path-fonts}/MuseoSansCyrl-700.eot');
    src: url('#{$path-fonts}/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrl-700.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrl-700.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrl-700.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MSCyrl300';
    src: url('#{$path-fonts}/MuseoSansCyrl-300.eot');
    src: url('#{$path-fonts}/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrl-300.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrl-300.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrl-300.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MSCyrillic100';
    src: url('#{$path-fonts}/MuseoSansCyrillic-100Italic.eot');
    src: url('#{$path-fonts}/MuseoSansCyrillic-100Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrillic-100Italic.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrillic-100Italic.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrillic-100Italic.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrillic-100Italic.svg#MuseoSansCyrillic-100Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MSCyrillic700';
    src: url('#{$path-fonts}/MuseoSansCyrillic-700Italic.eot');
    src: url('#{$path-fonts}/MuseoSansCyrillic-700Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrillic-700Italic.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrillic-700Italic.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrillic-700Italic.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrillic-700Italic.svg#MuseoSansCyrillic-700Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MSCyrillic500';
    src: url('#{$path-fonts}/MuseoSansCyrillic-500Italic.eot');
    src: url('#{$path-fonts}/MuseoSansCyrillic-500Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrillic-500Italic.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrillic-500Italic.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrillic-500Italic.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrillic-500Italic.svg#MuseoSansCyrillic-500Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MSCyrillic900';
    src: url('#{$path-fonts}/MuseoSansCyrillic-900Italic.eot');
    src: url('#{$path-fonts}/MuseoSansCyrillic-900Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrillic-900Italic.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrillic-900Italic.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrillic-900Italic.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrillic-900Italic.svg#MuseoSansCyrillic-900Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MSCyrl500';
    src: url('#{$path-fonts}/MuseoSansCyrl-500.eot');
    src: url('#{$path-fonts}/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrl-500.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrl-500.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrl-500.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MSCyrl900';
    src: url('#{$path-fonts}/MuseoSansCyrl-900.eot');
    src: url('#{$path-fonts}/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrl-900.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrl-900.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrl-900.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MSCyrl100';
    src: url('#{$path-fonts}/MuseoSansCyrl-100.eot');
    src: url('#{$path-fonts}/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrl-100.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrl-100.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrl-100.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MSCyrillic';
    src: url('#{$path-fonts}/MuseoSansCyrillic-300Italic.eot');
    src: url('#{$path-fonts}/MuseoSansCyrillic-300Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/MuseoSansCyrillic-300Italic.woff2') format('woff2'),
        url('#{$path-fonts}/MuseoSansCyrillic-300Italic.woff') format('woff'),
        url('#{$path-fonts}/MuseoSansCyrillic-300Italic.ttf') format('truetype'),
        url('#{$path-fonts}/MuseoSansCyrillic-300Italic.svg#MuseoSansCyrillic-300Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'ColoPro';
    src: url('#{$path-fonts}/Colo-Pro.eot');
    src: url('#{$path-fonts}/Colo-Pro.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Colo-Pro.woff2') format('woff2'),
        url('#{$path-fonts}/Colo-Pro.woff') format('woff'),
        url('#{$path-fonts}/Colo-Pro.ttf') format('truetype'),
        url('#{$path-fonts}/Colo-Pro.svg#Colo-Pro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColoProBlack';
    src: url('#{$path-fonts}/Colo-Pro-Black.eot');
    src: url('#{$path-fonts}/Colo-Pro-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Colo-Pro-Black.woff2') format('woff2'),
        url('#{$path-fonts}/Colo-Pro-Black.woff') format('woff'),
        url('#{$path-fonts}/Colo-Pro-Black.ttf') format('truetype'),
        url('#{$path-fonts}/Colo-Pro-Black.svg#Colo-Pro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PRegularItalic';
    src: url('#{$path-fonts}/Panton-RegularItalic.eot');
    src: url('#{$path-fonts}/Panton-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-RegularItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-RegularItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-RegularItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-RegularItalic.svg#Panton-RegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PBalckItalic';
    src: url('#{$path-fonts}/Panton-BlackItalic.eot');
    src: url('#{$path-fonts}/Panton-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-BlackItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-BlackItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-BlackItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-BlackItalic.svg#Panton-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PExtraBold';
    src: url('#{$path-fonts}/Panton-ExtraBold.eot');
    src: url('#{$path-fonts}/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraBold.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraBold.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraBold.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraBold.svg#Panton-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PSemiBold';
    src: url('#{$path-fonts}/Panton-SemiBold.eot');
    src: url('#{$path-fonts}/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-SemiBold.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-SemiBold.woff') format('woff'),
        url('#{$path-fonts}/Panton-SemiBold.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-SemiBold.svg#Panton-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PThinItalic';
    src: url('#{$path-fonts}/Panton-ThinItalic.eot');
    src: url('#{$path-fonts}/Panton-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ThinItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ThinItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-ThinItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ThinItalic.svg#Panton-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PHeavyItalic';
    src: url('#{$path-fonts}/Panton-HeavyItalic.eot');
    src: url('#{$path-fonts}/Panton-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-HeavyItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-HeavyItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-HeavyItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-HeavyItalic.svg#Panton-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PExtraBoldItalic';
    src: url('#{$path-fonts}/Panton-ExtraBoldItalic.eot');
    src: url('#{$path-fonts}/Panton-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic.svg#Panton-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'PSemiBoldItalic';
    src: url('#{$path-fonts}/Panton-SemiBoldItalic.eot');
    src: url('#{$path-fonts}/Panton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-SemiBoldItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-SemiBoldItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-SemiBoldItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-SemiBoldItalic.svg#Panton-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'PRegular';
    src: url('#{$path-fonts}/Panton-Regular.eot');
    src: url('#{$path-fonts}/Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Regular.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Regular.woff') format('woff'),
        url('#{$path-fonts}/Panton-Regular.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Regular.svg#Panton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PExtraLight';
    src: url('#{$path-fonts}/Panton-ExtraLight.eot');
    src: url('#{$path-fonts}/Panton-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraLight.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraLight.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraLight.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraLight.svg#Panton-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PLight';
    src: url('#{$path-fonts}/Panton-Light.eot');
    src: url('#{$path-fonts}/Panton-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Light.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Light.woff') format('woff'),
        url('#{$path-fonts}/Panton-Light.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Light.svg#Panton-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PHeavy';
    src: url('#{$path-fonts}/Panton-Heavy.eot');
    src: url('#{$path-fonts}/Panton-Heavy.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Heavy.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Heavy.woff') format('woff'),
        url('#{$path-fonts}/Panton-Heavy.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Heavy.svg#Panton-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PBoldItalic';
    src: url('#{$path-fonts}/Panton-BoldItalic.eot');
    src: url('#{$path-fonts}/Panton-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-BoldItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-BoldItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-BoldItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-BoldItalic.svg#Panton-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PBold';
    src: url('#{$path-fonts}/Panton-Bold.eot');
    src: url('#{$path-fonts}/Panton-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Bold.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Bold.woff') format('woff'),
        url('#{$path-fonts}/Panton-Bold.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Bold.svg#Panton-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PLightItalic';
    src: url('#{$path-fonts}/Panton-LightItalic.eot');
    src: url('#{$path-fonts}/Panton-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-LightItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-LightItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-LightItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-LightItalic.svg#Panton-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PBlack';
    src: url('#{$path-fonts}/Panton-Black.eot');
    src: url('#{$path-fonts}/Panton-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Black.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Black.woff') format('woff'),
        url('#{$path-fonts}/Panton-Black.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Black.svg#Panton-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PThin';
    src: url('#{$path-fonts}/Panton-Thin.eot');
    src: url('#{$path-fonts}/Panton-Thin.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Thin.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Thin.woff') format('woff'),
        url('#{$path-fonts}/Panton-Thin.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Thin.svg#Panton-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PExtraLigthItalic';
    src: url('#{$path-fonts}/Panton-ExtraLightItalic.eot');
    src: url('#{$path-fonts}/Panton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraLightItalic.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraLightItalic.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraLightItalic.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraLightItalic.svg#Panton-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'PBoldItalic_1';
    src: url('#{$path-fonts}/Panton-BoldItalic_1.eot');
    src: url('#{$path-fonts}/Panton-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-BoldItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-BoldItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-BoldItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-BoldItalic_1.svg#Panton-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PThinItalic_1';
    src: url('#{$path-fonts}/Panton-ThinItalic_1.eot');
    src: url('#{$path-fonts}/Panton-ThinItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ThinItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ThinItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-ThinItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ThinItalic_1.svg#Panton-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PBlackItalic_1';
    src: url('#{$path-fonts}/Panton-BlackItalic_1.eot');
    src: url('#{$path-fonts}/Panton-BlackItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-BlackItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-BlackItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-BlackItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-BlackItalic_1.svg#Panton-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PSemiBoldItalic_1';
    src: url('#{$path-fonts}/Panton-SemiBoldItalic_1.eot');
    src: url('#{$path-fonts}/Panton-SemiBoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-SemiBoldItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-SemiBoldItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-SemiBoldItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-SemiBoldItalic_1.svg#Panton-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'PLightItalic_1';
    src: url('#{$path-fonts}/Panton-LightItalic_1.eot');
    src: url('#{$path-fonts}/Panton-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-LightItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-LightItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-LightItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-LightItalic_1.svg#Panton-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PRegular_1';
    src: url('#{$path-fonts}/Panton-Regular_1.eot');
    src: url('#{$path-fonts}/Panton-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Regular_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Regular_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-Regular_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Regular_1.svg#Panton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PExtraLight_1';
    src: url('#{$path-fonts}/Panton-ExtraLight_1.eot');
    src: url('#{$path-fonts}/Panton-ExtraLight_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraLight_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraLight_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraLight_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraLight_1.svg#Panton-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PExtraBoldItalic_1';
    src: url('#{$path-fonts}/Panton-ExtraBoldItalic_1.eot');
    src: url('#{$path-fonts}/Panton-ExtraBoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraBoldItalic_1.svg#Panton-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'PHeavy_1';
    src: url('#{$path-fonts}/Panton-Heavy_1.eot');
    src: url('#{$path-fonts}/Panton-Heavy_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Heavy_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Heavy_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-Heavy_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Heavy_1.svg#Panton-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PExtraLigthItalic_1';
    src: url('#{$path-fonts}/Panton-ExtraLightItalic_1.eot');
    src: url('#{$path-fonts}/Panton-ExtraLightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraLightItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraLightItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraLightItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraLightItalic_1.svg#Panton-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'PExtraBold_1';
    src: url('#{$path-fonts}/Panton-ExtraBold_1.eot');
    src: url('#{$path-fonts}/Panton-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-ExtraBold_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-ExtraBold_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-ExtraBold_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-ExtraBold_1.svg#Panton-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PHeavyItalic_1';
    src: url('#{$path-fonts}/Panton-HeavyItalic_1.eot');
    src: url('#{$path-fonts}/Panton-HeavyItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-HeavyItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-HeavyItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-HeavyItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-HeavyItalic_1.svg#Panton-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PSemiBold_1';
    src: url('#{$path-fonts}/Panton-SemiBold_1.eot');
    src: url('#{$path-fonts}/Panton-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-SemiBold_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-SemiBold_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-SemiBold_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-SemiBold_1.svg#Panton-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PThin_1';
    src: url('#{$path-fonts}/Panton-Thin_1.eot');
    src: url('#{$path-fonts}/Panton-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Thin_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Thin_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-Thin_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Thin_1.svg#Panton-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PLight_1';
    src: url('#{$path-fonts}/Panton-Light_1.eot');
    src: url('#{$path-fonts}/Panton-Light_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Light_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Light_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-Light_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Light_1.svg#Panton-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PRegularItalic_1';
    src: url('#{$path-fonts}/Panton-RegularItalic_1.eot');
    src: url('#{$path-fonts}/Panton-RegularItalic_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-RegularItalic_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-RegularItalic_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-RegularItalic_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-RegularItalic_1.svg#Panton-RegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PBlack_1';
    src: url('#{$path-fonts}/Panton-Black_1.eot');
    src: url('#{$path-fonts}/Panton-Black_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Black_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Black_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-Black_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Black_1.svg#Panton-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PBold_1';
    src: url('#{$path-fonts}/Panton-Bold_1.eot');
    src: url('#{$path-fonts}/Panton-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Panton-Bold_1.woff2') format('woff2'),
        url('#{$path-fonts}/Panton-Bold_1.woff') format('woff'),
        url('#{$path-fonts}/Panton-Bold_1.ttf') format('truetype'),
        url('#{$path-fonts}/Panton-Bold_1.svg#Panton-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url('#{$path-fonts}/HelveticaNeueCyr-Roman.eot');
    src: url('#{$path-fonts}/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('#{$path-fonts}/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('#{$path-fonts}/HelveticaNeueCyr-Roman.ttf') format('truetype'),
        url('#{$path-fonts}/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

