@font-face {
  font-family: 'iconfont';
  src: 	url('#{$path-fonts}/iconfont.ttf') format('truetype'),
    url('#{$path-fonts}/iconfont.woff') format('woff'),
    url('#{$path-fonts}/iconfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-account::before {
	content: "\ea01";
}

.icon-active_arrow::before {
	content: "\ea02";
}

.icon-arrow_mob_services_search::before {
	content: "\ea03";
}

.icon-arrow_near_button::before {
	content: "\ea04";
}

.icon-change::before {
	content: "\ea05";
}

.icon-checked_button::before {
	content: "\ea06";
}

.icon-checkmark::before {
	content: "\ea07";
}

.icon-close-right-mob-ico::before {
	content: "\ea08";
}

.icon-close_modal-ico::before {
	content: "\ea09";
}

.icon-download_arrow::before {
	content: "\ea0a";
}

.icon-dropdown-arrow-select-mob::before {
	content: "\ea0b";
}

.icon-dropdown-arrow::before {
	content: "\ea0c";
}

.icon-filter-ico::before {
	content: "\ea0d";
}

.icon-home::before {
	content: "\ea0e";
}

.icon-hovered_star::before {
	content: "\ea0f";
}

.icon-i_on_circle_mob::before {
	content: "\ea10";
}

.icon-layers_footer::before {
	content: "\ea11";
}

.icon-layers_ico::before {
	content: "\ea12";
}

.icon-left_button_mob::before {
	content: "\ea13";
}

.icon-lense_footer-ico::before {
	content: "\ea14";
}

.icon-lock::before {
	content: "\ea15";
}

.icon-mob_arrow_near_button::before {
	content: "\ea16";
}

.icon-newListingsPlus::before {
	content: "\ea17";
}

.icon-plusik::before {
	content: "\ea18";
}

.icon-prev-arrow-ico::before {
	content: "\ea19";
}

.icon-reviews_icon::before {
	content: "\ea1a";
}

.icon-review_svg::before {
	content: "\ea1b";
}

.icon-rigth_button_mob::before {
	content: "\ea1c";
}

.icon-services_card_block::before {
	content: "\ea1d";
}

.icon-Star::before {
	content: "\ea1e";
}

.icon-start_top::before {
	content: "\ea1f";
}

.icon-star_copy::before {
	content: "\ea20";
}

.icon-svg_internet::before {
	content: "\ea21";
}

.icon-vertical_new_list::before {
	content: "\ea22";
}

.icon-vertical_star::before {
	content: "\ea23";
}

.icon-vertical_top_w::before {
	content: "\ea24";
}

.icon-vertical_top_word::before {
	content: "\ea25";
}

.icon-workers_information_block::before {
	content: "\ea26";
}